
@{
    ViewBag.Title = "Pro Tips Beef Curry";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-wrap">
    <div id="inner-wrap" class="inner-wrap menu-open">
        <div class="template">
            <div class="row full-screen-menu" style="">
                <div class="menu-top">
                    <nav role="navigation" style="background-image: url()">
                        <div class="inner">
                            <ul>
                            </ul>
                        </div>
                    </nav>
                </div>
                <div class="secondary-nav">
                    <ul>
                        <li>
                            <a data-parentpageid="127091" href="/en/producertoplate/" target="_self">
                                <span>Producer To Plate</span>
                            </a>
                        </li>
                        <li>
                            <a data-parentpageid="129449" href="/en/masterclass/" target="_self">
                                <span>Masterclass</span>
                            </a>
                        </li>
                        <li>
                            <a data-parentpageid="130176" href="/en/protips/" target="_self">
                                <span>PRO TIPS</span>
                            </a>
                        </li>
                        <li>
                            <a data-parentpageid="127159" href="/1/" target="_self">
                                <span>Recipes</span>
                            </a>
                        </li>
                        <li>
                            <a data-parentpageid="127368" href="/en/msa/" target="_self">
                                <span>MSA</span>
                            </a>
                        </li>
                        <li>
                            <a data-parentpageid="125443" href="/rare-medium/" target="_self">
                                <span>RARE MEDIUM</span>
                            </a>
                        </li>
                        <li>
                            <div class="social">
                                <span class="connected"></span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <input type="hidden" value="127230" id="parentpageid">
            <div role="main">
                <div id="content" class="content">
                    <div>
                        <div class="row clearfix">
                            <div class="block colouredbandblock scrollTarget_a498212a-d386-4ca8-8046-0f06a0d4a815  percent-100 ">

                                <div class="columns block coloured-band twelve ">
                                    <div class="container">
                                        <h2 class="heading-dots-white">Pro Tips flank steak Video</h2>
                                        <h3 class="_04xlpA direction-ltr align-start para-style-body" style="text-align: center;"><span class="JsGRdQ">PRO TIP | CAMBODIAN BEEF CURRY</span><span class="JsGRdQ">&nbsp;H.A.M 2275</span></h3>
                                        <div style="padding: 56.25% 0 0 0; position: relative;">
                                            <div>
                                                <div>
                                                    <object data="https://www.youtube.com/embed/xpOW04kywyQ?autoplay=1" width="100%" height="550px">
                                                    </object>
                                                </div>
                                            </div>
                                        </div>
                                        <h3 class="_04xlpA direction-ltr align-start para-style-body" style="text-align: center;">
                                            <script src="https://player.vimeo.com/api/player.js"></script>
                                        </h3>
                                        <h3 class="_04xlpA direction-ltr align-start para-style-body" style="text-align: center;">&nbsp;</h3>
                                        <h3>&nbsp;</h3>
                                        <h3 class="_04xlpA direction-ltr align-start para-style-body"><span class="JsGRdQ">CUT: Beef Chuck | H.A.M 2275</span></h3>
                                        <h3 class="_04xlpA direction-ltr align-start para-style-body"><span class="JsGRdQ">METHOD: PAN SEARED &amp; BRAISED</span></h3>
                                        <h3 class="_04xlpA direction-ltr align-start para-style-body"><span class="JsGRdQ">DISH: CAMBODIAN BEEF CURRY</span></h3>
                                    </div>
                                </div>
                            </div>
                        </div><div class="row clearfix">
                            <div class="block buttonblock percent-100 scrollTarget_00c67a49-01c5-4397-96a2-0152c2ec381c   ">
                                <a class="button-block  btn-primary" href="~/Content/images/Pro_Tips/Beef_ProTips/PDF'S/cambodian-coconut-beef-curry.pdf" target="_blank">
                                    DOWNLOAD RECIPE
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

