
@{
    ViewBag.Title = "Summer Lamb";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-wrap">
    <div id="inner-wrap" class="inner-wrap menu-open">
        <div class="template template-home">
            <div class="row full-screen-menu" style="">
                <div class="menu-top">
                    <nav role="navigation" style="background-image: url()">
                        <div class="inner">
                            <ul>
                            </ul>
                        </div>
                    </nav>
                </div>
                <div class="secondary-nav">
                    <ul>
                        <li>
                            <a data-parentpageid="127091" href="/en/producertoplate/" target="_self">
                                <span>Producer To Plate</span>
                            </a>
                        </li>
                        <li>
                            <a data-parentpageid="129449" href="/en/masterclass/" target="_self">
                                <span>Masterclass</span>
                            </a>
                        </li>
                        <li>
                            <a data-parentpageid="130176" href="/en/protips/" target="_self">
                                <span>PRO TIPS</span>
                            </a>
                        </li>
                        <li>
                            <a data-parentpageid="127159" href="/1/" target="_self">
                                <span>Recipes</span>
                            </a>
                        </li>
                        <li>
                            <a data-parentpageid="127368" href="/en/msa/" target="_self">
                                <span>MSA</span>
                            </a>
                        </li>
                        <li>
                            <a data-parentpageid="125443" href="/rare-medium/" target="_self">
                                <span>RARE MEDIUM</span>
                            </a>
                        </li>
                        <li>
                            <div class="social">
                                <span class="connected"></span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div role="main">
                <div>
                    <div class="row clearfix">
                        <div class="block colouredbandblock percent-100 scrollTarget_dea8cd31-1a08-42b9-b23f-4562dd83caf5">
                            <div class="columns block coloured-band twelve ">
                                <div class="container">
                                    <h2 class="heading-dots-white">Title</h2>
                                    <h1>Summer Lamb</h1>
                                </div>
                            </div>
                        </div>
                    </div><div class="row clearfix">
                        <div class="block casestudyblock percent-100 scrollTarget_e20a5d4f-31f1-40f0-a1bc-91adaf15be62   ">
                            <!-- CASESTUDY   BLOCK -->
                            <section class="case-study">
                                <div class="container"  style="background-color:white;">
                                    <figure class="case-study_image">
                                        <img src="~/Content/images/MasterClass/SummerLamb/summer_lamb_banner.jpg" alt="low&amp;slow">
                                    </figure>
                                    <!-- why is the image used twice? background image on the container and another separate image element inside it??? -->
                                    <div class="flex-container-wrapper">
                                        <div class="col-group flex-center-group">
                                            <div class="col-offset-3 col-9">
                                                <div class="case-study_inner">
                                                    <h1 class="case-study_heading">Low &amp; Slow</h1>
                                                    <div class="case-study_header">
                                                        <p></p>
                                                    </div>
                                                    <div class="case-study_body">
                                                        <p style="text-align: center;"><span style="font-weight: 400;">Our second webinar is now available, with a focus on summer lamb, led by corporate chef at Meat &amp; Livestock Australia, Sam Burke.</span></p>
                                                        <p style="text-align: center;"><span style="font-weight: 400;">The new masterclass talks about all things Australian summer lamb, which is the biggest campaign for sheep meat producers. We want to draw your attention to it now, in December, so that your food service is primed and ready to take part in this campaign come January.&nbsp;</span></p>
                                                        <p style="text-align: center;"><span style="font-weight: 400;">Before diving in, as you know, we’re here to create, educate and inspire. We’re proud to share that TAFE NSW has taken on our RMA content as a program to not only influence educators, but also students of tomorrow – chefs in the making. We’re thrilled to have them on board, and are looking forward to broadcasting live there next year.</span></p>
                                                        <p style="text-align: center;"><span style="font-weight: 400;">For Chef Sam, the follow up engagement from viewers of the first webinar has been warmly welcomed. “It’s been incredible that people have taken the learnings away and are sending emails directly to me on programs that they’ve put into their food service establishments and had success with. Thanks to all those who have taken away inspiration and taken it to the next level.”</span></p>
                                                        <p style="text-align: center;"><span style="font-weight: 400;">Finally, we hope you’ve been loving our Producer to Plate series as much as we have. The great thing about that, is that the producer has the opportunity to speak directly with the front line food service leader. Typically, producers don’t know what happens to their product once it leaves the farm, but through our series, they’re able to connect with that front line person, and they’re able to learn from each other.</span></p>
                                                        <p style="text-align: center;"><span style="font-weight: 400;">Our Summer Lamb Masterclass – not one to miss! The webinar focuses on giving you easy dishes that you can replicate in big scale volume numbers for your business to have success with.&nbsp;</span></p>
                                                        <p style="text-align: center;"><span style="font-weight: 400;">The dishes we’ll run you through in this one, are:</span></p>
                                                        <p style="text-align: center;"><span style="font-weight: 400;">An incredible </span><strong>summer stir fry made with Cantonese lamb leg</strong><span style="font-weight: 400;">.</span></p>
                                                        <p style="text-align: center;"><span style="font-weight: 400;">A late night favourite – </span><strong>the lamb gyros</strong><span style="font-weight: 400;">. The Greeks have got it covered with this one, and we’ll show you how to slow cook lamb shoulder so you can replicate this dish in record time for maximum customer satisfaction.</span></p>
                                                        <p style="text-align: center;"><span style="font-weight: 400;">The </span><strong>iconic summer lamb grill</strong><span style="font-weight: 400;">, prevalent at takeaway bars, pubs, clubs and more – we’ll show you how to do the perfect mixed grill.</span></p>
                                                        <p style="text-align: center;"><span style="font-weight: 400;">An ode to Australia – </span><strong>the lamb leg</strong><span style="font-weight: 400;">, and furthermore, we’ll show you how to do it in under an hour at your establishment.</span></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>

                            <!-- /CASESTUDY -->
                        </div>
                    </div><div class="row clearfix">
                        <div class="block colouredbandblock percent-100 scrollTarget_2a4e0982-f6a3-4cb7-a413-652c70d3c3a1">
                            <div class="columns block coloured-band twelve ">
                                <div class="container">
                                    <h2 class="heading-dots-white">Video</h2>
                                    <h1 style="text-align: center;">WATCH THE FULL WEBINAR BELOW</h1>
                                    <div>
                                        <object data="https://www.youtube.com/embed/wCpE9N3zjjU?autoplay=1" width="100%" height="550px">
                                        </object>
                                    </div>
                                    <h1 style="text-align: center;">&nbsp;</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="content" class="content">
                </div>
            </div>
        </div>
    </div>
</div>

