
@{
    ViewBag.Title = "Producer To PLate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-wrap">
    <div id="inner-wrap" class="inner-wrap menu-open">
        <div class="template">
            <div class="row full-screen-menu" style="">
                <div class="menu-top">
                    <nav role="navigation" style="background-image: url()">
                        <div class="inner">
                            <ul>
                            </ul>
                        </div>
                    </nav>
                </div>
                <div class="secondary-nav">
                    <ul>
                        <li>
                            <a data-parentpageid="127091" class="active" href="/en/producertoplate/" target="_self">
                                <span>Producer To Plate</span>
                            </a>
                        </li>
                        <li>
                            <a data-parentpageid="129449" href="/en/masterclass/" target="_self">
                                <span>Masterclass</span>
                            </a>
                        </li>
                        <li>
                            <a data-parentpageid="130176" href="/en/protips/" target="_self">
                                <span>PRO TIPS</span>
                            </a>
                        </li>
                        <li>
                            <a data-parentpageid="127159" href="/1/" target="_self">
                                <span>Recipes</span>
                            </a>
                        </li>
                        <li>
                            <a data-parentpageid="127368" href="/en/msa/" target="_self">
                                <span>MSA</span>
                            </a>
                        </li>
                        <li>
                            <a data-parentpageid="125443" href="/rare-medium/" target="_self">
                                <span>RARE MEDIUM</span>
                            </a>
                        </li>
                        <li>
                            <div class="social">
                                <span class="connected"></span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <input type="hidden" value="122429" id="parentpageid">
            <div role="main" style="background-color:white;">
                <div id="content" class="content">
                    <div>
                        <div class="row clearfix">
                            <div class="block colouredbandblock percent-100 scrollTarget_45fbb1cd-ede2-4c68-943f-a3548c78aa58   ">
                                <div class="columns block coloured-band twelve ">
                                    <div class="container">
                                        <h2 class="heading-dots-white">Episode 10 title</h2>
                                        <h1>6HEAD, Seagrass Hospitality with Scott Greve &amp; Sean Hall</h1>
                                    </div>
                                </div>
                            </div>
                        </div><div class="row clearfix">
                            <div class="block casestudyblock percent-100 scrollTarget_0461fcc7-6c8f-4276-8964-d873ecee305c   ">
                                <!-- CASESTUDY   BLOCK -->
                                <section class="case-study">
                                    <div class="container">
                                        <figure class="case-study_image">
                                            <img src="/Content/images/ProducerToPlate/PTPBanner_1.png" alt="Episode 10">
                                        </figure>
                                        <!-- why is the image used twice? background image on the container and another separate image element inside it??? -->
                                        <div class="flex-container-wrapper">
                                            <div class="col-group flex-center-group">
                                                <div class="col-offset-3 col-9">
                                                    <div class="case-study_inner">
                                                        <h1 class="case-study_heading">Episode 10</h1>
                                                        <div class="case-study_header">
                                                            <p></p>
                                                        </div>
                                                        <div class="case-study_body">
                                                            <p style="text-align: center;">Our&nbsp;<span class="il">Producer</span>&nbsp;to&nbsp;<span class="il">Plate</span>&nbsp;series is about creativity, inspiration and education for the commercial foodservice industry.<br><br>For our grand finale of&nbsp;<span class="il">Producer</span>&nbsp;to&nbsp;<span class="il">Plate</span>, we take the kings of cooking steaks Seagrass Boutique Hospitality Group to visit Macka's Black Angus Beef.<br><br>Executive Chef Sean Hall and Head Chef Scott Greve of 6 head restaurant delve into the clean, green world of cattle&nbsp;<span class="il">producer</span>&nbsp;Robert Mackenzie.&nbsp;<br><br>Rare Medium Academy supports the farmer and the foodservice industry through education and bringing these two worlds together.&nbsp;<br>Robert presents these world-class chefs with a selection of premium beef cuts so they can cook up a storm on the farm as they experience a true paddock to&nbsp;<span class="il">plate</span>&nbsp;journey.&nbsp;<br><br>Robert says, " We grade all our products through the MSA grading system with the MLA, and we are sitting now in the top 1.5% grading of MSA grading in Australia, which is great for our customers—knowing that they are getting quality Australian product".<br><br>Seagrass Boutique Hospitality believes that the heart of every home is the kitchen table and by bringing two of their best chefs who overlook QSR, FSR, and fine dining restaurants was the perfect way to celebrate Australian beef.&nbsp;<br><br>Executive Head Chef Sean Hall says, "We currently serve about 37 tonnes of beef through the business per month and source the best quality beef, and that's why it's so phenomenal to cook on the farm and learn about the processes at Macka's with the&nbsp;<span class="il">Producer</span>&nbsp;To&nbsp;<span class="il">Plate</span>&nbsp;Series".<br><br>Rare Medium Academy is proud to work with foodservice professionals like Seagrass to educate them on the provenance, new techniques and recipes that support chefs.&nbsp;<br><br>Robert takes the chefs on a jammed packed day that includes a farm tour to learn about all the innovation and processes of&nbsp;<span class="il">producing</span>&nbsp;some of the best beef in the world. Chef Scott and Sean finish up experiencing the rounding up, loading and delivery of cattle for a sale of Macka's Verified Black Angus at the cattle-yard in the rolling hills of Gloucester NSW.<br>Scott asks Macka, "How do you ensure the quality of the beef that you produce?"&nbsp;<br><br>Robert says, "It is all about passion and care. A happy, relaxed animal produces high-quality products, and the support of the MLA allows Australian beef&nbsp;<span class="il">producers</span>&nbsp;to focus on what we do best."</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                                <!-- /CASESTUDY -->
                            </div>
                        </div><div class="row clearfix">
                            <div class="block colouredbandblock percent-100 scrollTarget_cdcb4ff3-668a-42a5-a103-9aaa0ddf53b8">
                                <div class="columns block coloured-band twelve ">
                                    <div class="container">
                                        <h2 class="heading-dots-white">Episode 10 Video</h2>
                                        <div style="position: relative; padding-bottom: 56.25%; padding-top: 35px; height: 0; overflow: hidden;">
                                            <object data="https://www.youtube.com/embed/WQfb3Jjyea4?autoplay=1" width="100%" height="550px">
                                            </object>
                                            @*<iframe src="//www.youtube.com/embed/WQfb3Jjyea4?enablejsapi=1&amp;origin=https%3A%2F%2Fwww.raremediumacademy.com" width="1020" height="840" allowfullscreen="allowfullscreen" data-mce-fragment="1" data-gtm-yt-inspected-5="true" id="689551544" data-gtm-yt-inspected-1_19="true" data-gtm-yt-inspected-34427855_72="true" title="Producer to Plate Nine | 6HEAD, Seagrass Hospitality with Scott Greve &amp; Sean Hall"></iframe>*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><div class="row clearfix">
                            <div class="block colouredbandblock percent-100 scrollTarget_04d497c3-b95f-404a-aa24-b9290c52acb1">
                                <div class="columns block coloured-band twelve ">
                                    <div class="container">
                                        <h2 class="heading-dots-white">Episode 9 Title</h2>
                                        <h1 style="text-align: center;">Producer to Plate Nine | MLA Corporate Butcher Doug Piper interviews Robert Mackenzie</h1>
                                    </div>
                                </div>
                            </div>
                        </div><div class="row clearfix">
                            <div class="block casestudyblock percent-100 scrollTarget_dfe93db1-7a76-4f1b-944f-da37acdfd763">
                                <!-- CASESTUDY   BLOCK -->
                                <section class="case-study">
                                    <div class="container">
                                        <figure class="case-study_image">
                                            <img src="~/Content/images/ProducerToPlate/PTPBanner_2.png" alt="Episode 9 Article">
                                        </figure>
                                        <!-- why is the image used twice? background image on the container and another separate image element inside it??? -->
                                        <div class="flex-container-wrapper">
                                            <div class="col-group flex-center-group">
                                                <div class="col-offset-3 col-9">
                                                    <div class="case-study_inner">
                                                        <h1 class="case-study_heading"></h1>
                                                        <div class="case-study_header">
                                                            <p></p>
                                                        </div>
                                                        <div class="case-study_body">
                                                            <p style="text-align: center;">Our Producer to Plate series is about creativity, inspiration and education for the commercial foodservice industry.<u></u><u></u></p>
                                                            <p style="text-align: center;">Throughout the year at Rare Medium Academy, our goal has been to collaborate with industry experts. One person who has been instrumental in our program is Meat and Livestock&nbsp;Australia’s&nbsp;Corporat<wbr>e Butcher Doug Piper.&nbsp;<u></u><u></u></p>
                                                            <p style="text-align: center;"><u></u>&nbsp;<u></u>Doug has been our carcass breakdown expert for beef and lamb throughout the campaign with our Pro Tips series and allowed the RMA team to educate&nbsp;both culinary professionals and our future chefs&nbsp;of tomorrow&nbsp;by bringing&nbsp;lesser-known cuts to foodservice menus.<u></u><u></u><u></u>&nbsp;<u></u></p>
                                                            <p style="text-align: center;">In episode nine of Producer To Plate, we introduce Doug to Macka's Australian Black Angus Beef producer Robert Mackenzie.&nbsp;<u></u><u></u></p>
                                                            <h4 style="text-align: center;">Doug asks Robert "what does it mean to you and your brand to have&nbsp;Meat Standards Australia graded product?"&nbsp;<u></u><u></u></h4>
                                                            <p style="text-align: center;">Robert says, "It means we have industry support. The support that Rare Medium Academy and MLA gives us producers is outstanding.&nbsp;Meat Standards Australia&nbsp;is the most recognised grading&nbsp;programme&nbsp;in the world, and when we are hitting grades of 5+, it sits us in the top 1.5% of the MSA grading in Australia.</p>
                                                            <div>
                                                                <p style="text-align: center;">Robert also shares his knowledge of the life cycle of cattle and the feeding process that Macka's team have in place.</p>
                                                                <p style="text-align: center;">Doug shares his perspective of the Producer To Plate experience and how it has positively impacted him as a butcher and the foodservice industry.<u></u><u></u><u></u>&nbsp;<u></u></p>
                                                                <h4 style="text-align: center;">Robert says, "I sat down with MLA Executive Chef Sam Burke over 12 months ago, and we discussed how we could do something for the beef and hospitality industry. Sam has grabbed that and produced a great outcome for the beef producer."<u></u><u></u></h4>
                                                                <p style="text-align: center;">&nbsp;</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                                <!-- /CASESTUDY -->
                            </div>
                        </div><div class="row clearfix">
                            <div class="block colouredbandblock percent-100 scrollTarget_50974738-11d7-43a3-ad42-cb075064e86f">
                                <div class="columns block coloured-band twelve ">
                                    <div class="container">
                                        <h2 class="heading-dots-white">Episode 9 Video</h2>
                                        <p>&nbsp;</p>
                                        <p>&nbsp;</p>
                                        <div style="position: relative; padding-bottom: 56.25%; padding-top: 35px; height: 0; overflow: hidden;">
                                            <object data="https://www.youtube.com/embed/ezRzMRwDAss?autoplay=1" width="100%" height="550px">
                                            </object>
                                            @*<iframe src="//www.youtube.com/embed/ezRzMRwDAss?enablejsapi=1&amp;origin=https%3A%2F%2Fwww.raremediumacademy.com" width="1020" height="840" allowfullscreen="allowfullscreen" data-mce-fragment="1" data-gtm-yt-inspected-5="true" data-gtm-yt-inspected-1_19="true" data-gtm-yt-inspected-34427855_72="true" id="898480062" title="Producer to Plate Nine | MLA Corporate Butcher Doug Piper interviews Robert Mackenzie"></iframe>*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><div class="row clearfix">
                            <div class="block colouredbandblock percent-100 scrollTarget_47e434ce-b494-49b6-aa08-1d52611bd369">
                                <div class="columns block coloured-band twelve ">
                                    <div class="container">
                                        <h2 class="heading-dots-white">Episode 8 Title</h2>
                                        <h1>Producer to Plate Episode Eight | Executive Chef Justin Wise from Australian Venue Co on Macka's Farm</h1>
                                    </div>
                                </div>
                            </div>
                        </div><div class="row clearfix">
                            <div class="block casestudyblock percent-100 scrollTarget_e11d683c-eb6b-43b8-993e-6d428f76b9e2">
                                <!-- CASESTUDY   BLOCK -->
                                <section class="case-study">
                                    <div class="container">
                                        <figure class="case-study_image">
                                            <img src="~/Content/images/ProducerToPlate/PTPBanner_3.png" alt="Episode 8 Article">
                                        </figure>
                                        <!-- why is the image used twice? background image on the container and another separate image element inside it??? -->
                                        <div class="flex-container-wrapper">
                                            <div class="col-group flex-center-group">
                                                <div class="col-offset-3 col-9">
                                                    <div class="case-study_inner">
                                                        <h1 class="case-study_heading"></h1>
                                                        <div class="case-study_header">
                                                            <p></p>
                                                        </div>
                                                        <div class="case-study_body">
                                                            <p style="text-align: center;">Our Producer to Plate series is about creativity, inspiration and education for the commercial foodservice industry.<u></u><u></u></p>
                                                            <p style="text-align: center;">In episode eight, we join Executive Chef Justin Wise from the Australian Venue Co as he dives into a day in the life of Macka's Australian Black Angus Beef and creates a dish inspired by his findings at the farm.&nbsp;<u></u><u></u></p>
                                                            <p style="text-align: center;">Justin overlooks the&nbsp;culinary&nbsp;operation of over 170 pubs throughout Australia. He is responsible for menu development and working with producers to find solutions to allow AVC to innovate and create unique customer experiences.&nbsp;<u></u><u></u></p>
                                                            <p style="text-align: center;">Rare Medium Academy took Justin on a tour of Macka's farm to understand the work that goes into producing some of the best cattle in the world.&nbsp;<u></u><u></u></p>
                                                            <p style="text-align: center;">Justin Says, "Seeing the cattle today; I have never seen beef so happy. They look amazing, and the condition they are in is exceptional".&nbsp;<u></u><u></u></p>
                                                            <p style="text-align: center;">James Mackenzie from Macka's shares his knowledge with Justin around the heritage, pride and logistics of running an Australian Black Angus Beef farm. Intrigued with Justin's role, James asks him, "monthly, what sort of volume would you go through at the AVC?"<u></u><u></u></p>
                                                            <p style="text-align: center;">Justin says, "Currently, we go through over 45 tonnes of beef product a month and out of that, 35 tonnes is primal. That includes your striploin, porterhouse and rump. The reaming 10 Tonne is what we would call value add".&nbsp;<u></u><u></u></p>
                                                            <p style="text-align: center;">Rare Medium Academy is partnering with the Australian Venue Co to support them in working with Australian red meat producers directly and bringing whole carcass utilisation to their menu.<u></u><u></u><u></u>&nbsp;<u></u></p>
                                                            <p style="text-align: center;">This has become a win-win for the producer and foodservice professionals allowing the farmer to increase secondary cut sales, bring innovation to the foodservice industry and create savings on their cost of goods.<u></u><u></u></p>
                                                            <p style="text-align: center;">Justin's visit to the farm-inspired him to utilise the Meat and Livestock head butcher Doug Piper and help educate his team on the process of breaking down the most popular cut at AVC venues, the rump.&nbsp;<u></u><u></u></p>
                                                            <p style="text-align: center;">Justin says, "by using the Rost Bif<strong>f</strong>&nbsp;cut from the rump, we get a more consistent product and a better eating quality steak&nbsp;through the &nbsp;Meat Standards Australia program."<u></u><u></u></p>
                                                            <p style="text-align: center;">The Rare Medium Academy, AVC and Macka's team wrapped the day up with a grilled Rost Bif steak, poached orange stock carrots, charred baby cos salad with fresh horseradish.&nbsp;</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                                <!-- /CASESTUDY -->
                            </div>
                        </div><div class="row clearfix">
                            <div class="block colouredbandblock percent-100 scrollTarget_2a5293bf-e201-45ec-ada8-b6cb2cd311e2   ">
                                <div class="columns block coloured-band twelve ">
                                    <div class="container">
                                        <h2 class="heading-dots-white">Episode 8 Video</h2>
                                        <p>&nbsp;</p>
                                        <p>&nbsp;</p>
                                        <p>&nbsp;</p>
                                        <div style="position: relative; padding-bottom: 56.25%; padding-top: 35px; height: 0; overflow: hidden;">
                                            <object data="https://www.youtube.com/embed/dUci9gPB5Uk?autoplay=1" width="100%" height="550px">
                                            </object>
                                            @*<iframe src="//www.youtube.com/embed/dUci9gPB5Uk?enablejsapi=1&amp;origin=https%3A%2F%2Fwww.raremediumacademy.com" width="1020" height="840" allowfullscreen="allowfullscreen" data-mce-fragment="1" data-gtm-yt-inspected-5="true" data-gtm-yt-inspected-1_19="true" data-gtm-yt-inspected-34427855_72="true" id="894803965" title="Producer to Plate Episode Eight |  Exec. Chef Justin Wise from Australian Venue Co on Macka's Farm"></iframe>*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><div class="row clearfix">
                            <div class="block colouredbandblock percent-100 scrollTarget_774ebbce-f102-4cf3-ae20-cf47943aa3d7">
                                <div class="columns block coloured-band twelve ">
                                    <div class="container">
                                        <h2 class="heading-dots-white">Episode 7 title</h2>
                                        <h1 class="title style-scope ytd-video-primary-info-renderer">PRODUCER TO PLATE EPISODE SEVEN | AUSTRALIA BEEF TAKING FLIGHT WITH DNATA</h1>
                                    </div>
                                </div>
                            </div>
                        </div><div class="row clearfix">
                            <div class="block casestudyblock percent-100 scrollTarget_0d15251f-5680-4d6d-9d92-f0bf71c6d5f9">
                                <!-- CASESTUDY   BLOCK -->
                                <section class="case-study">
                                    <div class="container">
                                        <figure class="case-study_image">
                                            <img src="~/Content/images/ProducerToPlate/PTPBanner_4.png" alt="Episode 7">
                                        </figure>
                                        <!-- why is the image used twice? background image on the container and another separate image element inside it??? -->
                                        <div class="flex-container-wrapper">
                                            <div class="col-group flex-center-group">
                                                <div class="col-offset-3 col-9">
                                                    <div class="case-study_inner">
                                                        <h1 class="case-study_heading"></h1>
                                                        <div class="case-study_header">
                                                            <p></p>
                                                        </div>
                                                        <div class="case-study_body">
                                                            <p style="text-align: center;">Our Producer to Plate series is about creativity, inspiration and education for the commercial foodservice.<u></u><u></u></p>
                                                            <p style="text-align: center;">General Culinary Manager for dnata Catering Robert Smithson joined Mackas Black Angus Beef farmer Robert Mackenzie on his property in Gloucester. Robert was educated on how Mackas Black Angus Cattle are nurtured to produce the highest quality beef to ensure the customer gets the best eating experience possible.<u></u><u></u></p>
                                                            <p style="text-align: center;"><span style="color: #444444;">Producer Robert says, "How you handle cattle is to take your time, go steady&nbsp;and if necessary move them in a couple of goes if they have a long way&nbsp;to travel, because a happy,&nbsp;relaxed animal produces a high-quality product, and that's what Australia is all about. That's why we have that fresh, clean, green image and why&nbsp;our&nbsp;product is on that world stage."</span></p>
                                                            <p style="text-align: center;"><span style="color: #444444;">Meat and Livestock Executive Chef Samuel Burke has been on a journey of introducing some of the very best foodservice chefs and leaders to producers just like Macka's&nbsp;Australian Black Angus Beef so they can be educated and inspired by the produce that surrounds them.</span></p>
                                                            <p style="text-align: center;"><span style="color: #444444;">Sam says, "Because of passionate producers like you (Macka's), who not only look at how the land is managed but the way you look after your people, the way you treat the cattle in a stress-free environment, right back to how you take them through the&nbsp;sale yards&nbsp;before they go off and that provides a wonderful product that chef Robert (dnata Catering) can take to 35,000 feet."</span></p>
                                                            <p style="text-align: center;"><span style="color: #444444;">The Producer To Plate series also educates the producer on what foodservice&nbsp;need from a product and how they can help each other maintain Australian beef's success.&nbsp;<u></u><u></u></span></p>
                                                            <p style="text-align: center;">Macka's Robert Mackenzie asks chef Robert, "How important is it for your customers flying, economy, business and first-class to know that they are getting a quality product?"&nbsp;<u></u><u></u></p>
                                                            <p style="text-align: center;"><span style="color: #444444;">Robert Smithson says, "Australian beef is something that our customers demand and by meeting the producer it takes our knowledge to a whole new level".</span><span style="color: #444444;"><u></u>&nbsp;<u></u></span></p>
                                                            <p style="text-align: center;"><span style="color: #444444;">The Rare Medium Acadamey campaigns have enabled businesses like dnata to implement training for front line staff and get the chefs involved in working with beef in different ways to&nbsp;have&nbsp;success on menu.<u></u><u></u></span><span style="color: #444444;"><u></u>&nbsp;<u></u></span></p>
                                                            <p style="text-align: center;"><span style="color: #444444;">To finish the day at Macka's farm, Robert took his learnings to create a dish using a secondary cut like a short rib. Robert Say's "A slow-cooked short rib holds exceptionally well for long haul flights and maintain its quality for&nbsp;re-heating&nbsp;and service.&nbsp;&nbsp;The short rib is&nbsp;served with a smokey artichoke puree, heirloom carrots, chestnut mushrooms and truffle burnt butter"</span></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>

                                <!-- /CASESTUDY -->
                            </div>
                        </div><div class="row clearfix">
                            <div class="block colouredbandblock percent-100 scrollTarget_2558fced-69a3-4462-917f-af2738084139">
                                <div class="columns block coloured-band twelve ">
                                    <div class="container">
                                        <h2 class="heading-dots-white">Episode 7</h2>
                                        <div style="position: relative; padding-bottom: 56.25%; padding-top: 35px; height: 0px; overflow: hidden; text-align: center;">
                                            <object data="https://www.youtube.com/embed/RWjFbP3bgz4?autoplay=1" width="100%" height="550px">
                                            </object>
                                            @*<iframe src="//www.youtube.com/embed/RWjFbP3bgz4?enablejsapi=1&amp;origin=https%3A%2F%2Fwww.raremediumacademy.com" width="1020" height="572" allowfullscreen="allowfullscreen" data-mce-fragment="1" data-gtm-yt-inspected-5="true" data-gtm-yt-inspected-1_19="true" data-gtm-yt-inspected-34427855_72="true" id="517310444" title="Producer to Plate Episode Seven | Australia Beef Taking Flight with dnata"></iframe>*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><div class="row clearfix">
                            <div class="block colouredbandblock percent-100 scrollTarget_bbb25437-2139-4919-82c1-76f1e3e90b75">

                                <div class="columns block coloured-band twelve ">
                                    <div class="container">
                                        <h2 class="heading-dots-white">Macka</h2>
                                        <h1>PRODUCER TO PLATE EPISODE SIX | ROBERT MACKENZIE AND AUSTRALIAN ANGUS BEEF</h1>
                                    </div>
                                </div>
                            </div>
                        </div><div class="row clearfix">
                            <div class="block casestudyblock percent-100 scrollTarget_dc1b2520-57f3-495b-bfa2-d663dec9e09e">
                                <!-- CASESTUDY   BLOCK -->
                                <section class="case-study">
                                    <div class="container">
                                        <figure class="case-study_image">
                                            <img src="~/Content/images/ProducerToPlate/PTPBanner_5.png" alt="episode 6">
                                        </figure>
                                        <!-- why is the image used twice? background image on the container and another separate image element inside it??? -->
                                        <div class="flex-container-wrapper">
                                            <div class="col-group flex-center-group">
                                                <div class="col-offset-3 col-9">
                                                    <div class="case-study_inner">
                                                        <h1 class="case-study_heading"></h1>
                                                        <div class="case-study_header">
                                                            <p></p>
                                                        </div>
                                                        <div class="case-study_body">
                                                            <p style="text-align: center;"><span style="font-weight: 400;">Our Producer to Plate series is about creativity, inspiration and education for the commercial food service.</span></p>
                                                            <p style="text-align: center;"><span style="font-weight: 400;">We caught up with Robert Mackenzie who is a fourth generation beef producer at his farm Macka’s Australia Black Angus Beef, which started back in 1884.&nbsp;</span></p>
                                                            <p style="text-align: center;"><strong>“A lot has changed since those days, but a lot remains the same,” said Robert.</strong></p>
                                                            <p style="text-align: center;"><strong>“Our surname Mackenzie, from Scotland, deep in history and tradition, just like the Angus breed.”</strong></p>
                                                            <p style="text-align: center;"><strong>“The Angus breed come to Australia in 1824, first landed in Hobart, Tasmania.”</strong></p>
                                                            <p style="text-align: center;"><span style="font-weight: 400;">Health and wellbeing is paramount in the Macka’s Australia Black Angus Beef operation, which is why there is a lot of concerted effort into looking after the land, environment and cattle; happy cattle produces outstanding product.</span></p>
                                                            <p style="text-align: center;"><strong>“When it comes to transporting our cattle, we really focus on managing the cattle quietly and steadily. We usually take a couple of days to get them into the yards, loading them onto the trucks carefully and quietly, and we get a much better result,” explained Robert.</strong></p>
                                                            <p style="text-align: center;"><strong>“A happy, quiet, relaxed animal travels better, because it’s all about low stress.”</strong></p>
                                                            <p style="text-align: center;"><span style="font-weight: 400;">Australia’s reputation of supplying fresh, green, clean product around the world is something Macka’s takes pride in.</span></p>
                                                            <p style="text-align: center;"><span style="font-weight: 400;">“<strong>Here at Macka’s Australia Black Angus Beef, we produce a high quality product. Grass-fed, grain-finished; it’s where our animals live a stress free, relaxed life, grazing on amazing pasture on the East Coast of Australia, and then is finished in a 150-day grain-fed program in a feed lot,” Robert continued.&nbsp;</strong></span></p>
                                                            <p style="text-align: center;"><strong>“Grass-fed, grain-finished – as good as it gets.”</strong></p>
                                                            <p style="text-align: center;"><span style="font-weight: 400;">Robert shared how privileged he felt to be involved in our Producer to Plate series, and to be able to tell their story on where their product comes from.</span></p>
                                                            <p style="text-align: center;"><span style="font-weight: 400;"><strong>“MLA have been the perfect partner when we’re trying to showcase our product on the world stage. Their commitment to Australian red meat is second to none,”</strong> he said.</span></p>
                                                            <p style="text-align: center;"><strong>“Our focus at Macka’s is to supply sustainable beef, to supply quality product to the consumer and the food service sector, because now more than ever before they are looking for quality product that comes with story, that comes with credibility, and is sustainable.”</strong></p>
                                                            <p style="text-align: center;"><strong>“The way we’re doing this is with a social license. The community, the land, our environment and our cattle, because we are committed to sustainability.”</strong></p>
                                                            <p style="text-align: center;"><strong>“We run less cattle per hectare, we rotate our cattle on a regular basis, we protect our water and natural environment, because here at Macka’s Australia Black Angus Beef, we’re committed to Australian agriculture.”</strong></p>
                                                            <p style="text-align: center;"><span style="font-weight: 400;">We’re proud to support Australian red meat and its farmers like Robert, to achieve success within our country and around the world. We hope you enjoyed learning more about Macka’s Australia Black Angus Beef, and look forward to sharing more incredible stories with you.</span></p>
                                                            <p style="text-align: center;">&nbsp;</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>

                                <!-- /CASESTUDY -->
                            </div>
                        </div><div class="row clearfix">
                            <div class="block colouredbandblock percent-100 scrollTarget_49a5663d-10a2-4cb4-ad4b-9faf26a0495b">

                                <div class="columns block coloured-band twelve ">
                                    <div class="container">
                                        <h2 class="heading-dots-white">Episode 6</h2>
                                        <div style="position: relative; padding-bottom: 56.25%; padding-top: 35px; height: 0; overflow: hidden;">
                                            <object data="https://www.youtube.com/embed/vzIzc63tGVk?autoplay=1" width="100%" height="550px">
                                            </object>
                                            @*<iframe src="//www.youtube.com/embed/vzIzc63tGVk?enablejsapi=1&amp;origin=https%3A%2F%2Fwww.raremediumacademy.com" width="1020" height="572" allowfullscreen="allowfullscreen" data-mce-fragment="1" data-gtm-yt-inspected-5="true" data-gtm-yt-inspected-1_19="true" data-gtm-yt-inspected-34427855_72="true" id="820923173" title="Producer to Plate Eipsode Six - Macka's Farm"></iframe>*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><div class="row clearfix">
                            <div class="block colouredbandblock percent-100 scrollTarget_4c178de2-417d-4241-9935-6d6b00804674">
                                <div class="columns block coloured-band twelve ">
                                    <div class="container">
                                        <h2 class="heading-dots-white">Episode 5 Title</h2>
                                        <h1>PRODUCER TO PLATE EPISODE FIVE | LAMB ORZO WITH GEORGE FOUSKARINIS</h1>
                                    </div>
                                </div>
                            </div>
                        </div><div class="row clearfix">
                            <div class="block casestudyblock percent-100 scrollTarget_91dda4ff-ce12-4c32-a846-a1990472e79d">
                                <!-- CASESTUDY   BLOCK -->
                                <section class="case-study">
                                    <div class="container">
                                        <figure class="case-study_image">
                                            <img src="~/Content/images/ProducerToPlate/PTPBanner_6.png" alt="Producer to Plate">
                                        </figure>
                                        <!-- why is the image used twice? background image on the container and another separate image element inside it??? -->
                                        <div class="flex-container-wrapper">
                                            <div class="col-group flex-center-group">
                                                <div class="col-offset-3 col-9">
                                                    <div class="case-study_inner">
                                                        <h1 class="case-study_heading"></h1>
                                                        <div class="case-study_header">
                                                            <p></p>
                                                        </div>
                                                        <div class="case-study_body">
                                                            <p style="text-align: center;">&nbsp;</p>
                                                            <p style="text-align: center;">&nbsp;</p>
                                                            <p style="text-align: center;">Our Producer to Plate series is about creativity, inspiration and education for the commercial food service. National Culinary Manager at Compass Group Australia George Fouskarinis joined Merino sheep farmer Charlie Blomfield on his 850-hectare property in Canowindra to learn more about Australian lamb and sheep.</p>
                                                            <p style="text-align: center;">One of the promotions that George came up with through working closely with MLA, is a lamb with orzo, using a lamb shoulder which was slow roasted for 12 hours; ready to fall off the bone.</p>
                                                            <p style="text-align: center;">The cut is nice, gelatinous, and when cooked slowly will really allow you to maximise its use across meals and menus.</p>
                                                            <h4 style="text-align: center;">“When we were designing, we realised we could use the slow-cooked shoulder but also as lamb mince as well,” said George. “We have different price points to hit within our business so a versatile meat like this is great in achieving that.”</h4>
                                                            <p style="text-align: center;">For the lamb with orzo, George recommends sautéing onions and garlic, and throwing in some spices to releases the aromatics; he uses a mixture of cumin, sage and thyme. Then add chopped tomatoes and risoni until al dente, then drain it off.</p>
                                                            <p style="text-align: center;">Pull the lamb off the bone and add that in, along with some spinach, parsley, mint, and crumbled feta and olives to top it all off.</p>
                                                            <h4 style="text-align: center;">“Lamb is close to my heart and a dish that I love, and it all starts right here with the producer.”</h4>
                                                            <p style="text-align: center;">George said that his biggest takeaway from the experience was learning to respect the product and really understanding the scope of work and process that goes into creating a high-quality product for customers.</p>
                                                            <p style="text-align: center;">&nbsp;</p>
                                                            <p style="text-align: center;">&nbsp;</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>

                                <!-- /CASESTUDY -->
                            </div>
                        </div><div class="row clearfix">
                            <div class="block colouredbandblock percent-100 scrollTarget_f348459d-7b18-4c95-8093-9c7dc4f46eb7   ">

                                <div class="columns block coloured-band twelve ">
                                    <div class="container">
                                        <h2 class="heading-dots-white">Episode 5 Video</h2>
                                        <div style="position: relative; padding-bottom: 56.25%; padding-top: 35px; height: 0; overflow: hidden;">
                                            <object data="https://www.youtube.com/embed/8jQi3VM2tBo?autoplay=1" width="100%" height="550px">
                                            </object>
                                            @*<iframe src="//www.youtube.com/embed/8jQi3VM2tBo?enablejsapi=1&amp;origin=https%3A%2F%2Fwww.raremediumacademy.com" width="1020" height="572" allowfullscreen="allowfullscreen" data-mce-fragment="1" data-gtm-yt-inspected-5="true" data-gtm-yt-inspected-1_19="true" data-gtm-yt-inspected-34427855_72="true" id="426746038" title="Producer To Plate Episode Five - Lamb Orzo with George Fouskarinis"></iframe>*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><div class="row clearfix">
                            <div class="block colouredbandblock percent-100 scrollTarget_ce5b6727-21d7-4e4d-98df-7d09d95fe2d3   ">

                                <div class="columns block coloured-band twelve ">
                                    <div class="container">
                                        <h2 class="heading-dots-white">Episode 4 Title</h2>
                                        <h1>PRODUCER TO PLATE EPISODE FOUR | LAMB RAGU WITH JUSTIN WILSHAW</h1>
                                    </div>
                                </div>
                            </div>
                        </div><div class="row clearfix">
                            <div class="block casestudyblock percent-100 scrollTarget_c80d6081-237a-41a6-ab69-be0bf928203b   ">
                                <!-- CASESTUDY   BLOCK -->
                                <section class="case-study">
                                    <div class="container">
                                        <figure class="case-study_image">
                                            <img src="~/Content/images/ProducerToPlate/PTPBanner_7.png" alt="Episode 4">
                                        </figure>
                                        <!-- why is the image used twice? background image on the container and another separate image element inside it??? -->
                                        <div class="flex-container-wrapper">
                                            <div class="col-group flex-center-group">
                                                <div class="col-offset-3 col-9">
                                                    <div class="case-study_inner">
                                                        <h1 class="case-study_heading">Episode 4</h1>
                                                        <div class="case-study_header">
                                                            <p></p>
                                                        </div>
                                                        <div class="case-study_body">
                                                            <p style="text-align: center;">&nbsp;</p>
                                                            <p style="text-align: center;">Our Producer to Plate series is about creativity, inspiration and education for the commercial food service.</p>
                                                            <p style="text-align: center;">Head of Hospitality &amp; Lifestyle for Estia Health Justin Wilshaw, joined Merino sheep farmer Charlie Blomfield on his 850-hectare property in Canowindra to learn more about Australian lamb and sheep.</p>
                                                            <p style="text-align: center;">Estia Healh has been working closely with Meat &amp; Livestock Australia over the past two years, with national masterclasses aimed at teaching the company’s executive chefs. As a result, Estia Health has been able to grow demand for both beef and lamb with their residents, and create more variety in dishes served.</p>
                                                            <h4 style="text-align: center;"><strong>Justin said "the key thing for their chefs is that they feel comfortable working with whatever cut of meat they have. If they’re comfortable and know exactly how to cook it, then it’ll be a better result for residents, and those items will stay on the menu."</strong></h4>
                                                            <p style="text-align: center;">Through two years of MLA’s professional masterclasses, Estia Health has put red meat on their menus 12 per cent more than when they first started the series. When considering a company as sizeable as Estia Health, that’s a significant amount – approximately 130 tonnes of additional red meat.</p>
                                                            <p style="text-align: center;">When we grow demand for red meat, it’s not only a premium result for residents, but also helps to support all the wonderful Australian meat farmers.&nbsp;</p>
                                                            <h4 style="text-align: center;">Justin also said "Masterclasses are really about teaching chefs the fundamentals of the products that they cook and serve. For instance, chefs might normally just ask for diced lamb from a butcher and not specify."</h4>
                                                            <p style="text-align: center;">However, for a recipe such as lamb ragu, they should ask for shoulder. It will cook for a longer period of time and break down and be incredible to eat.</p>
                                                            <p style="text-align: center;">&nbsp;</p>
                                                            <p style="text-align: center;">&nbsp;</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>

                                <!-- /CASESTUDY -->
                            </div>
                        </div><div class="row clearfix">
                            <div class="block colouredbandblock percent-100 scrollTarget_1738b337-ef51-4f3e-ad77-10fdc4f89ca2   ">

                                <div class="columns block coloured-band twelve ">
                                    <div class="container">
                                        <h2 class="heading-dots-white">Episode 4 Video</h2>
                                        <div style="position: relative;">
                                            <object data="https://www.youtube.com/embed/h8AftgyO_R0?autoplay=1" width="100%" height="550px">
                                            </object>
                                            @*<iframe style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" src="//www.youtube.com/embed/h8AftgyO_R0?t=23s&amp;enablejsapi=1&amp;origin=https%3A%2F%2Fwww.raremediumacademy.com" width="1020" height="840" frameborder="0" allowfullscreen="allowfullscreen" data-mce-fragment="1" data-gtm-yt-inspected-5="true" data-gtm-yt-inspected-1_19="true" data-gtm-yt-inspected-34427855_72="true" id="787347" title="Producer To Plate Episode Four - Lamb Ragu with Gnocchi (Justin Wilshaw)"></iframe>*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><div class="row clearfix">
                            <div class="block colouredbandblock percent-100 scrollTarget_5b7d1c36-332e-4061-84e7-1f1e7df4317a   ">

                                <div class="columns block coloured-band twelve ">
                                    <div class="container">
                                        <h2 class="heading-dots-white">Episode 3</h2>
                                        <h1>Producer To Plate Episode Three | Head of Hospitality &amp; Lifestyle for Estia Health Justin Wilshaw</h1>
                                    </div>
                                </div>
                            </div>
                        </div><div class="row clearfix">
                            <div class="block casestudyblock percent-100 scrollTarget_35f1c405-94a0-428e-b33a-610bb70ed980   ">
                                <!-- CASESTUDY   BLOCK -->
                                <section class="case-study">
                                    <div class="container">
                                        <figure class="case-study_image">
                                            <img src="~/Content/images/ProducerToPlate/PTPBanner_8.png" alt="Banner 3">
                                        </figure>
                                        <!-- why is the image used twice? background image on the container and another separate image element inside it??? -->
                                        <div class="flex-container-wrapper">
                                            <div class="col-group flex-center-group">
                                                <div class="col-offset-3 col-9">
                                                    <div class="case-study_inner">
                                                        <h1 class="case-study_heading"></h1>
                                                        <div class="case-study_header">
                                                            <p></p>
                                                        </div>
                                                        <div class="case-study_body">
                                                            <p class="p1" style="text-align: center;">&nbsp;</p>
                                                            <p class="p1" style="text-align: center;">&nbsp;</p>
                                                            <p class="p1" style="text-align: center;">Our Producer to Plate series is about creativity, inspiration and education for the commercial food service.</p>
                                                            <p class="p1" style="text-align: center;">Head of Hospitality &amp; Lifestyle for Estia Health Justin Wilshaw, joined Merino sheep farmer Charlie Blomfield on his 850-hectare property in Canowindra to learn more about Australian lamb and sheep.</p>
                                                            <p class="p1" style="text-align: center;">Estia Health has more than 6,000 residents around the country who love Australian lamb. They grew up on lamb, and Justin said it’s the protein that they love the most on the aged care provider’s menu.</p>
                                                            <h4 class="p1" style="text-align: center;">“The two dishes that our residents say they want more than any other on our menu is the roast on the weekend, on a Sunday, because that’s what they’ve had their whole lives, and lamb chops.”</h4>
                                                            <p class="p1" style="text-align: center;">For Merino sheep farmer Charlie, landing a good quality piece of lamb onto the kitchen table takes about two years.</p>
                                                            <p class="p1" style="text-align: center;">On what’s important in making this happen, Charlie said: “The handling and treatment of the animals, but also the nutrition. If we handle them quietly and with care, and they get good nutrition, we can get a good yield in the kitchen.”</p>
                                                            <p class="p1" style="text-align: center;">For his dish, Justin chose a lamb rump, drawing inspiration from Charlie and how he farms his property.</p>
                                                            <h4 class="p1" style="text-align: center;">“This dish is a little but different for aged care but great for residents. I’ve chosen to do a butterflied lamb with sweet potatoes, fire roasted baby peppers, and sautéed Brussel sprouts with bacon and parmesan cheese.”</h4>
                                                            <p class="p1" style="text-align: center;">Seniors love the traditional roast, so wherein a leg may be too big for them, a mini roast from a lamb rump is a great idea – and you get two thirds per portion as well. It’s also not that much more expensive than leg, but gives the opportunity to vary the flavour profile.</p>
                                                            <p class="p1" style="text-align: center;">You can also control the degree it’s cooked, and change it per resident preference – for instance, cook some to medium, others to medium rare, or well done. It’s a smart way to serve something that residents love and demand, while accommodating for the range in tastes.</p>
                                                            <p class="p1" style="text-align: center;">&nbsp;</p>
                                                            <p class="p1" style="text-align: center;">&nbsp;</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                                <!-- /CASESTUDY -->
                            </div>
                        </div><div class="row clearfix">
                            <div class="block colouredbandblock percent-100 scrollTarget_ebb5eb16-c5a1-44f3-a42c-99baf6321f87   ">
                                <div class="columns block coloured-band twelve ">
                                    <div class="container">
                                        <h2 class="heading-dots-white">Episode 3 Video</h2>
                                        <div style="position: relative;">
                                            <object data="https://www.youtube.com/embed/RKzAA2rQ2uc?autoplay=1" width="100%" height="550px">
                                            </object>
                                            @*<iframe style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" src="//www.youtube.com/embed/RKzAA2rQ2uc?enablejsapi=1&amp;origin=https%3A%2F%2Fwww.raremediumacademy.com" width="1020" height="840" frameborder="0" allowfullscreen="allowfullscreen" data-mce-fragment="1" data-gtm-yt-inspected-5="true" data-gtm-yt-inspected-1_19="true" data-gtm-yt-inspected-34427855_72="true" id="600602979" title="Producer To Plate Episode Three - Head of Hospitality &amp; Lifestyle for Estia Health Justin Wilshaw"></iframe>*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><div class="row clearfix">
                            <div class="block colouredbandblock percent-100 scrollTarget_b73413c6-c578-490d-95fa-3994f18ab1eb   ">

                                <div class="columns block coloured-band twelve ">
                                    <div class="container">
                                        <h2 class="heading-dots-white">Producer to Plate Episode 2: George</h2>
                                        <h1>PRODUCER TO PLATE EPISODE TWO | NATIONAL CULINARY MANAGER AT COMPASS GROUP AUSTRALIA GEORGE FOUSKARINIS</h1>
                                    </div>
                                </div>
                            </div>
                        </div><div class="row clearfix">
                            <div class="block casestudyblock percent-100 scrollTarget_6d70d8a6-01ed-4777-a562-9272b0c366f3">
                                <!-- CASESTUDY   BLOCK -->
                                <section class="case-study">
                                    <div class="container">
                                        <figure class="case-study_image">
                                            <img src="~/Content/images/ProducerToPlate/PTPBanner_9.png" alt="Producer To Plate Episode Two">
                                        </figure>
                                        <!-- why is the image used twice? background image on the container and another separate image element inside it??? -->
                                        <div class="flex-container-wrapper">
                                            <div class="col-group flex-center-group">
                                                <div class="col-offset-3 col-9">
                                                    <div class="case-study_inner">
                                                        <h1 class="case-study_heading"></h1>
                                                        <div class="case-study_header">
                                                            <p></p>
                                                        </div>
                                                        <div class="case-study_body">
                                                            <p style="text-align: center;">&nbsp;</p>
                                                            <p style="text-align: center;">&nbsp;</p>
                                                            <p style="text-align: center;"><span style="color: #000000;">Our Producer to Plate series is about creativity, inspiration and education for the commercial food service.</span></p>
                                                            <p style="text-align: center;"><span style="color: #000000;">National Culinary Manager at Compass Group Australia George Fouskarinis joined Merino sheep farmer Charlie Blomfield on his 850-hectare property in Canowindra to learn more about Australian lamb and sheep.</span></p>
                                                            <p style="text-align: center;"><span style="color: #000000;">Charlie said that his farm is proud to harness the power of new technologies to not only make their jobs in the paddock easier, but also to supply information and data for compliance and customer demand purposes.</span></p>
                                                            <p style="text-align: center;"><span style="color: #000000;">“All the individual animals here have an electronic ID in their ear, and we record all the information back to that animal. We have an automatic drafting facility back in the yard so we can weigh, draft and treat an animal. We’re doing about 600-650 an hour, so we can put the sheep through there pretty quickly. They’re in and out and back on the pasture where they want to be.”</span></p>
                                                            <p style="text-align: center;"><span style="color: #000000;">The technology also helps ensure that the job is as quick and stress free as possible.</span></p>
                                                            <p style="text-align: center;"><span style="color: #000000;">“We walk them into the yard, let them calm down for an hour or two because they had a long walk, and then we put them through the yards and they’re back in the paddock usually within two hours.”</span></p>
                                                            <p style="text-align: center;"><span style="color: #000000;">The industry has undoubtedly changed over the last couple of years, and Charlie said that he’s actually found that it’s been a great time in the sheep sector due to demand and the sheep numbers falling.</span></p>
                                                            <h4 style="text-align: center;"><span style="color: #000000;">“The world has changed rapidly since the start of this year in that consumers want different things now than what they did before. Whereas I think previously they were eating out a lot and doing all that sort of stuff, now they’re cooking at home.”</span></h4>
                                                            <p style="text-align: center;"><span style="color: #000000;">“The trouble for lamb is that a lot of people don’t know how to cook it so it’s great to have chefs like yourself here today to show people what to do with lamb and how versatile it can be whether it’s in food service, aged care or in a restaurant or at home.”</span></p>
                                                            <p style="text-align: center;"><span style="color: #000000;">MLA has worked with Compass for nearly four years on ways to find success with protein – from point of sale and executive chef and food development manager masterclasses, right through to menu innovation.</span></p>
                                                            <h4 style="text-align: center;"><span style="color: #000000;">“The education piece for our chefs and executive chefs is absolute second to none,” </span></h4>
                                                            <h4 style="text-align: center;"><span style="color: #000000;">said George.</span></h4>
                                                            <p style="text-align: center;"><span style="color: #000000;">“Getting them to think about different ways to utilise different cuts and the correct cookery methods that go along with that is absolutely vital to the success of our business and obviously, the customer satisfaction at the other end.”</span></p>
                                                            <p style="text-align: center;"><span style="color: #000000;">“Different parts of the business need different things – whether you’re in education or aged care, obviously the nutritional requirements are different, but red meat features across all of them so absolutely pertinent.”</span></p>
                                                            <p style="text-align: center;"><span style="color: #000000;">Watch the full video to see the beautiful dish that George creates with lamb, kipfler potatoes and heirloom carrots.</span></p>
                                                            <p style="text-align: center;">&nbsp;</p>
                                                            <p style="text-align: center;">&nbsp;</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                                <!-- /CASESTUDY -->
                            </div>
                        </div><div class="row clearfix">
                            <div class="block colouredbandblock percent-100 scrollTarget_60e6936f-b881-49c3-af6c-e6e44462e382   ">

                                <div class="columns block coloured-band twelve ">
                                    <div class="container">
                                        <h2 class="heading-dots-white">Episode Two Video</h2>
                                        <div style="padding: 56.25% 0 0 0; position: relative;">
                                            <object data="https://www.youtube.com/embed/LJU3O2ViRUA?autoplay=1" width="100%" height="550px">
                                            </object>
                                            @*<iframe style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" src="//www.youtube.com/embed/LJU3O2ViRUA?enablejsapi=1&amp;origin=https%3A%2F%2Fwww.raremediumacademy.com" width="1020" height="840" frameborder="0" allowfullscreen="allowfullscreen" data-mce-fragment="1" data-gtm-yt-inspected-5="true" data-gtm-yt-inspected-1_19="true" data-gtm-yt-inspected-34427855_72="true" id="715313456" title="Producer To Plate Episode Two - Compass Group Australia Chef George Fouskarinis Meets The Producer"></iframe>*@
                                        </div>
                                        <p>
                                            <script src="https://player.vimeo.com/api/player.js"></script>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div><div class="row clearfix">
                            <div class="block colouredbandblock scrollTarget_4ac0e604-0093-4e64-a67d-3e1e2c6b0f91  percent-100 ">
                                <div class="columns block coloured-band twelve ">
                                    <div class="container">
                                        <h2 class="heading-dots-white">Canowindra’s Charlie Blomfield talks Australian lamb in our new Producer to Plate series</h2>
                                        <h1>Producer To Plate Episode One | Canowindra’s Charlie Blomfield talks Australian lamb</h1>
                                    </div>
                                </div>
                            </div>
                        </div><div class="row clearfix">
                            <div class="block casestudyblock scrollTarget_c1e9b63b-c6bd-43ca-a5b6-50090064664d  percent-100 " style="background-color:white;">
                                <!-- CASESTUDY   BLOCK -->
                                <section class="case-study">
                                    <div class="container">
                                        <figure class="case-study_image">
                                            <img src="~/Content/images/ProducerToPlate/PTPBanner_10.png" alt="Charlie">
                                        </figure>
                                        <!-- why is the image used twice? background image on the container and another separate image element inside it??? -->
                                        <div class="flex-container-wrapper">
                                            <div class="col-group flex-center-group">
                                                <div class="col-offset-3 col-9">
                                                    <div class="case-study_inner">
                                                        <h1 class="case-study_heading"></h1>
                                                        <div class="case-study_header">
                                                            <p></p>
                                                        </div>
                                                        <div class="case-study_body">
                                                            <p style="text-align: center;"><span style="color: #000000;">Charlie Blomfield and his wife, Eleanor Falkiner, own a 850-hectare property in Canowindra on which they specialise in producing Merino sheep for meat and wool.</span></p>
                                                            <p style="text-align: center;"><span style="color: #000000;">We caught up with Charlie for our new Producer to Plate series to hear more about the work that goes into being a successful lamb producer at Borigeree Farming.</span></p>
                                                            <p style="text-align: center;"><span style="color: #000000;">“My wife and I own Borigeree and in both our families go back multiple generations for farming,” said Charlie.</span></p>
                                                            <h4 style="text-align: center;">“It’s in our blood. Even to the extent of the sheep we have going back generations in Eleanor’s family – so there’s a depth of expertise, passion and genetics in our business that is pretty rare.”</h4>
                                                            <p style="text-align: center;"><span style="color: #000000;">Charlie said they also grow hay and cereal crops, and that environmental sustainability is at the forefront of production at Borigeree.</span></p>
                                                            <p style="text-align: center;"><span style="color: #000000;">“We have a range of tree planting programs and work really hard at securing ground cover to prevent erosion, and manage riparian areas and other parts of our property,” he said.</span></p>
                                                            <p style="text-align: center;"><span style="color: #000000;">Innovation is another key pillar at Borigeree, with the team pushing hard with technology to make jobs and data collection at the farm easier.</span></p>
                                                            <p style="text-align: center;"><span style="color: #000000;">“The collection of data is also smoother so we can provide that data for compliance reasons, but also to our customers who are demanding more information on what they’re eating these days,” said Charlie.</span></p>
                                                            <p style="text-align: center;"><span style="color: #000000;">Hand-in-hand with innovation is eating quality, which Charlie asserted is equally vital to the success of the business.</span></p>
                                                            <p style="text-align: center;"><span style="color: #000000;">“At the end of the day, the customer needs to have a supreme eating quality experience,” he said.</span></p>
                                                            <p style="text-align: center;"><span style="color: #000000;">“We focus really hard on the nutrition of our product and the bringing up of the animal so that experience is as good as we can possibly make it.”</span></p>
                                                            <p style="text-align: center;"><span style="color: #000000;">“Commercial food services is an important customer segment for Australian lamb. They buy a massive amount of Australian lamb, using it in their facilities and for their customers. It was great to learn more about how they use our product, and to focus on the quality, consistency and versatility of Australian lamb.”</span></p>
                                                            <p style="text-align: center;"><span style="color: #000000;">Supply chain is critical for distribution, and Charlie said that they work with a number of people to ensure that their product is well looked after once it leaves their farm.</span></p>
                                                            <h4 style="text-align: center;">“In some cases we even sell direct to make sure our product is getting through to the consumer in a cost effective manner.”</h4>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                                <!-- /CASESTUDY -->
                            </div>
                        </div><div class="row clearfix">
                            <div class="block colouredbandblock percent-100 scrollTarget_d5d416a3-cf07-42a6-9992-0724fdaf99ae">
                                <div class="columns block coloured-band twelve ">
                                    <div class="container">
                                        <h2 class="heading-dots-white">charile_video</h2>
                                        <div style="position: relative;">
                                            <object data="https://www.youtube.com/embed/x0RL0WrREDU?autoplay=1" width="100%" height="550px">
                                            </object>
                                            @*<iframe style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" src="//www.youtube.com/embed/x0RL0WrREDU?enablejsapi=1&amp;origin=https%3A%2F%2Fwww.raremediumacademy.com" width="1020" height="840" frameborder="0" allowfullscreen="allowfullscreen" data-mce-fragment="1" data-gtm-yt-inspected-5="true" data-gtm-yt-inspected-1_19="true" data-gtm-yt-inspected-34427855_72="true" id="147337800" title="Producer To Plate Episode One - Meet The Australian Lamb Producer"></iframe>*@
                                        </div>
                                        <h1>
                                            <script src="https://player.vimeo.com/api/player.js"></script>
                                        </h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>        
    </div>
</div>

