
@{
    ViewBag.Title = "Travel Solutions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-wrap">
    <div id="inner-wrap" class="inner-wrap menu-open">
        <div class="template template-home">
            <div class="row full-screen-menu" style="">
                <div class="menu-top">
                    <nav role="navigation" style="background-image: url()">
                        <div class="inner">
                            <ul>
                            </ul>
                        </div>
                    </nav>
                </div>
                <div class="secondary-nav">
                    <ul>
                        <li>
                            <a data-parentpageid="127091" href="/en/producertoplate/" target="_self">
                                <span>Producer To Plate</span>
                            </a>
                        </li>
                        <li>
                            <a data-parentpageid="129449" href="/en/masterclass/" target="_self">
                                <span>Masterclass</span>
                            </a>
                        </li>
                        <li>
                            <a data-parentpageid="130176" href="/en/protips/" target="_self">
                                <span>PRO TIPS</span>
                            </a>
                        </li>
                        <li>
                            <a data-parentpageid="127159" href="/1/" target="_self">
                                <span>Recipes</span>
                            </a>
                        </li>
                        <li>
                            <a data-parentpageid="127368" href="/en/msa/" target="_self">
                                <span>MSA</span>
                            </a>
                        </li>
                        <li>
                            <a data-parentpageid="125443" href="/rare-medium/" target="_self">
                                <span>RARE MEDIUM</span>
                            </a>
                        </li>
                        <li>
                            <div class="social">
                                <span class="connected"></span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div role="main">
                <div>
                    <div class="row clearfix">
                        <div class="block colouredbandblock percent-100 scrollTarget_18b0561a-3527-4a6c-a5c0-65f16458cd07   ">
                            <div class="columns block coloured-band twelve ">
                                <div class="container">
                                    <h2 class="heading-dots-white">Title</h2>
                                    <h1>Red Meat Travel Solutions</h1>
                                </div>
                            </div>
                        </div>
                    </div><div class="row clearfix">
                        <div class="block casestudyblock percent-100 scrollTarget_6d802fe0-eb6c-48a7-9c30-d881f72b3b08">
                            <!-- CASESTUDY   BLOCK -->
                            <section class="case-study" style="background-color:white;">
                                <div class="container">
                                    <figure class="case-study_image">
                                        <img src="~/Content/images/MasterClass/TravelSolutions/travelsolutions_Banner.png" alt="low&amp;slow">
                                    </figure>
                                    <!-- why is the image used twice? background image on the container and another separate image element inside it??? -->
                                    <div class="flex-container-wrapper">
                                        <div class="col-group flex-center-group">
                                            <div class="col-offset-3 col-9">
                                                <div class="case-study_inner">
                                                    <h1 class="case-study_heading">Low &amp; Slow</h1>
                                                    <div class="case-study_header">
                                                        <p></p>
                                                    </div>
                                                    <div class="case-study_body">
                                                        <p style="text-align: center;"><span style="font-weight: 400;">Our third webinar is now available, with a focus on all things packaging, led by corporate chef at Meat &amp; Livestock Australia, Sam Burke.</span></p>
                                                        <p style="text-align: center;"><span style="font-weight: 400;">In COVID-19, we’ve had to change our approach from helping food service customers face-to-face, to building online resources that provide free training so that chefs can feel confident and have success with Australian red meat on their menus.</span></p>
                                                        <p style="text-align: center;"><span style="font-weight: 400;">Australian red meat travels in many different ways around the world, but in this webinar we focus on how it gets from the food service establishment direct to customers through delivery providers such as Uber and Menulog.</span></p>
                                                        <p style="text-align: center;"><span style="font-weight: 400;">For delivery, it’s important to consider not only the quality of the packaging, but also sustainable and eco-conscious ways of getting it there to make sure that customers receive products in the best overall ways.</span></p>
                                                        <p style="text-align: center;"><span style="font-weight: 400;">We approached Pinnacle Packaging for this webinar, who are leaders in food service packaging and who work with some of the biggest QSR and FSR businesses in the world. We visited their Sydney factory to learn all things red meat and how to provide the best possible service to our customers.</span></p>
                                                        <p style="text-align: center;"><span style="font-weight: 400;">Peter Sofocleous, Chief Executive Officer, Pinnacle Packaging Australia, said that quality packaging is critical in making sure that food gets from the restaurant to the customer in a premium but also food safe way.&nbsp;</span></p>
                                                        <p style="text-align: center;"><span style="font-weight: 400;">“Quality is absolutely imperative because with quality you can ensure that the food arrives at its destination looking fresh, looking alive, looking as if it’s just been made, and that way the consumer receives their product in that perfect fashion,” said Peter.</span></p>
                                                        <h4 style="text-align: center;"><span style="font-weight: 400;">“What’s even better is if the packaging is ethically sourced, food grade, certified – all these contributing factors play an important role in producing the perfect product.”</span></h4>
                                                        <p style="text-align: center;"><span style="font-weight: 400;">Pinnacle’s Enviro Range uses raw materials from well-managed sources, and includes new features to help further improve delivery quality.</span></p>
                                                        <p style="text-align: center;"><span style="font-weight: 400;">“One feature we’ve introduced is vent holes on top of each product, and what that enables is the food not to become soggy because the right amount of air flow is able to flow through the product, so the customer is getting a quality product at the right temperature to enjoy,” said Peter.</span></p>
                                                        <p style="text-align: center;"><span style="font-weight: 400;"><img src="~/Content/images/MasterClass/TravelSolutions/travelsolutions_Banner_1.jpg" alt="" width="1600" height="1085"></span></p>
                                                        <p style="text-align: center;"><span style="font-weight: 400;">In Australia and around the world, single-use packaging is a huge contributor to environmental landfill. The food service industry, especially since COVID-19, has had to adopt more socially responsible delivery methods in order to provide not only food in its most optimal condition, but also in packaging that the customer is happy to receive, and can feel good about.&nbsp;</span></p>
                                                        <h4 style="text-align: center;"><span style="font-weight: 400; font: 26px/26px 'filosofiaregular', serif;">Peter continued: “All the products produced come under the three most important categories: recyclable, compostable or reusable. One example of a range we were happy to introduce is our Paperway Range which is a product that the consumer can use and compost, so it doesn’t end up in landfill.”</span></h4>
                                                        <p style="text-align: center;"><span style="font-weight: 400;">If you enjoyed this masterclass, we also encourage you to go back and watch our other two which talk about low and slow cooking, and Australian lamb.</span></p>
                                                        <p style="text-align: center;"><span style="font-weight: 400;">We always consult with food service professionals before we develop our content so we know that we’re addressing the most pertinent questions or topics for you.</span></p>
                                                        <p style="text-align: center;"><span style="font-weight: 400;">We also offer a number of other resources to help you succeed with Australian red meat, including our Pro Tips (with over 30 recipes for Australian beef and lamb) and Producer to Plate series which takes leading industry professionals to meet producers and create new inspiring dishes. You can find more information for these on our website.</span></p>
                                                        <p style="text-align: center;"><span style="font-weight: 400;">We’re also pleased to announce that we’re teaming up with TAFE NSW who are taking Rare Medium Academy on as an extension to their program which teaches the next generation of chefs.&nbsp;</span></p>
                                                        <p style="text-align: center;"><span style="font-weight: 400;">Looking forward to the next webinar!&nbsp;</span></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <!-- /CASESTUDY -->
                        </div>
                    </div><div class="row clearfix">
                        <div class="block colouredbandblock percent-100 scrollTarget_8c5a4a8c-e45d-4527-8df6-123dc8511a52">
                            <div class="columns block coloured-band twelve ">
                                <div class="container">
                                    <h2 class="heading-dots-white">Video</h2>
                                    <p>&nbsp;</p>
                                    <div>
                                        <div>
                                            <object data="https://www.youtube.com/embed/Y9YTaKI1z2U?autoplay=1" width="100%" height="550px">
                                            </object>
                                        </div>
                                    </div>
                                    <p>&nbsp;</p>
                                    <h1 style="text-align: center;">&nbsp;</h1>
                                    <h1 style="text-align: center;"><span style="color: #ffffff;">Watch the interview with Peter Sofocleous</span></h1>
                                    <h1>&nbsp;</h1>
                                    <p>
                                        <object data="https://www.youtube.com/embed/sk9dI3HBn0E?autoplay=1" width="100%" height="550px">
                                        </object>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="content" class="content">
                </div>
            </div>
        </div>
    </div>
</div>

