
@{
    ViewBag.Title = "Mastering Curries Tagines";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-wrap">
    <div id="inner-wrap" class="inner-wrap menu-open">
        <div class="template template-home">
            <div class="row full-screen-menu" style="">
                <div class="menu-top">
                    <nav role="navigation" style="background-image: url()">
                        <div class="inner">
                            <ul>
                            </ul>
                        </div>
                    </nav>
                </div>
                <div class="secondary-nav">
                    <ul>
                        <li>
                            <a data-parentpageid="127091" href="/en/producertoplate/" target="_self">
                                <span>Producer To Plate</span>
                            </a>
                        </li>
                        <li>
                            <a data-parentpageid="129449" href="/en/masterclass/" target="_self">
                                <span>Masterclass</span>
                            </a>
                        </li>
                        <li>
                            <a data-parentpageid="130176" href="/en/protips/" target="_self">
                                <span>PRO TIPS</span>
                            </a>
                        </li>
                        <li>
                            <a data-parentpageid="127159" href="/1/" target="_self">
                                <span>Recipes</span>
                            </a>
                        </li>
                        <li>
                            <a data-parentpageid="127368" href="/en/msa/" target="_self">
                                <span>MSA</span>
                            </a>
                        </li>
                        <li>
                            <a data-parentpageid="125443" href="/rare-medium/" target="_self">
                                <span>RARE MEDIUM</span>
                            </a>
                        </li>
                        <li>
                            <div class="social">
                                <span class="connected"></span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div role="main">
                <div>
                    <div class="row clearfix">
                        <div class="block colouredbandblock percent-100 scrollTarget_2a90b0f1-caa6-4dbe-84b8-947d5b11d2b1">
                            <div class="columns block coloured-band twelve ">
                                <div class="container">
                                    <h2 class="heading-dots-white">Title</h2>
                                    <h1>Curries &amp; Tagines with Red Meat</h1>
                                </div>
                            </div>
                        </div>
                    </div><div class="row clearfix">
                        <div class="block casestudyblock percent-100 scrollTarget_df78e9aa-241b-4b8d-b0bf-aa6139fe8482">
                            <!-- CASESTUDY   BLOCK -->
                            <section class="case-study">
                                <div class="container" style="background-color:white;">
                                    <figure class="case-study_image">
                                        <img src="~/Content/images/MasterClass/Curries_Tagines/MC_CurriesTagines.png" alt="Mastering Wok Cooking">
                                    </figure>
                                    <!-- why is the image used twice? background image on the container and another separate image element inside it??? -->
                                    <div class="flex-container-wrapper">
                                        <div class="col-group flex-center-group">
                                            <div class="col-offset-3 col-9">
                                                <div class="case-study_inner">
                                                    <h1 class="case-study_heading">Mastering Curries Tagines</h1>
                                                    <div class="case-study_header">
                                                        <p></p>
                                                    </div>
                                                    <div class="case-study_body">
                                                        <p style="text-align: center;"><span style="font-weight: 400;">This masterclass focuses on low and slow cooking with curries and tagines. It really is the perfect winter dish so chefs, time to get these dishes on your menus.</span></p>
                                                        <p style="text-align: center;"><span style="font-weight: 400;">We’ve thrilled to be able to bring you these masterclasses where we look at different ways of utilising Australian red meats. Our first masterclass looked at Texan-inspired cooking of Australian beef and lamb dishes, in partnership with our friends at Weber. Then, we dove into summer lamb and all the things you can do to take your menu to the next level with this meat. Next, we examined take away with red meat with Pinnacle Packaging, focusing on recipes and innovations to help you offer the best solutions to your customers when it comes to takeaway. Last webinar, we looked at wok cooking over fire and how to get those beautiful, flavourful dishes to your customers.&nbsp;</span></p>
                                                        <p style="text-align: center;"><span style="font-weight: 400;">It’s been a journey, and we’re excited to continue sharing with you new tips and tricks for having success with Australian red meat on your menu. If you have any feedback or question on how we can help you, please don’t hesitate to contact us.</span></p>
                                                        <p style="text-align: center;"><span style="font-weight: 400;">This masterclass, we’re focusing on Australian beef, lamb, and making its first appearance, goat. Our resident master butcher Doug Piper walks you through the chuck </span><span style="font-weight: 400;">cut from the beef carcass, </span><span style="font-weight: 400;">and shares his expertise on ways to get that ideal portion, how to maximise this in business, and how to best prepare it for those low and slow dishes we go through.</span></p>
                                                        <p style="text-align: center;"><span style="font-weight: 400;">We then take you through the following dishes:</span></p>
                                                        <p style="text-align: center;"><strong>BEEF YELLOW CURRY USING SHORT RIB</strong></p>
                                                        <p style="text-align: center;"><span style="font-weight: 400;">Traditional curries have become a staple menu item in restaurants worldwide, so it’s only fitting that the first dish we show you how to make this month is a simple Beef Yellow Curry using short rib. The great thing about this dish is that it’s going to give you time back in your kitchen and is extremely versatile. You can use the short rib for a more high-end dish that will wow your customers.</span></p>
                                                        <p style="text-align: center;"><strong>BEEF MADRAS</strong></p>
                                                        <p style="text-align: center;"><span style="font-weight: 400;">The number one thing about a curry to remember is that you have to temper the fragrances at the beginning and balance the curry at the end. The cut we use for this is the chuck which is nice and gelatinous and when its braised, it gives you a consistent eating experience. It’s an economical menu item and is also a staple winter warmer that customers will love.</span></p>
                                                        <p style="text-align: center;"><strong>PERSIAN GOAT TAGINE</strong></p>
                                                        <p style="text-align: center;"><span style="font-weight: 400;">A slow cooked stew. We chose goat because it adds a lot of depth and flavour and fits the dish with the low and slow cook method.</span></p>
                                                        <p style="text-align: center;"><strong>LAMB RAGU</strong></p>
                                                        <p style="text-align: center;"><span style="font-weight: 400;">You can use it as a pastry filler, on top of some creamy parmesan polenta or mash, but today we’re showing you how to do it with some tagliatelle – such a versatile dish. We’re using a lamb shoulder for the dish at 3-4cm cube pieces because we want the meat to hold its structure as it breaks down in the low and slow cooking process.&nbsp;</span></p>
                                                        <p style="text-align: center;"><span style="font-weight: 400;">As a reminder, Beef Australia will be 2-8 May in Rockhampton and we encourage everyone who can to come on out and visit us at the MLA trade site.</span></p>
                                                        <p style="text-align: center;"><span style="font-weight: 400;">A special thank you to all of the international visitors who tune in, and to our partners TAFE NSW who utilise our tools to guide the next generation of chefs.</span></p>
                                                        <p style="text-align: center;"><span style="font-weight: 400;">Our next webinar in May will be a very special one that will talk about all things steak! We’ll be visiting Seagrass Boutique Hospitality Group and talk about their 6 HEAD brand. We’ll hear from some of their top guys on dry age and wet age, MSA grading, cooking over fire, resting steaks and more. We’ll also have a very special studio guest that you’re not going to want to miss!&nbsp;</span></p>
                                                        <p style="text-align: center;">&nbsp;</p>
                                                        <p style="text-align: center;"><em><strong>Questions that we’ve received</strong></em></p>
                                                        <p style="text-align: center;"><em><span style="font-weight: 400;"> Cut across all Australian red meats, what are the best ones for each?</span></em></p>
                                                        <p style="text-align: center;"><span style="font-weight: 400;"> For lamb and goat, we’d look at secondary right cuts like shoulder, forequarter and neck, which are wonderful and break down well, but also the shanks which are great for curry and tagine dishes. For beef, we would look at master cuts such as the shin, blade or chuck. These are great cuts for slow cooking that will provide best results for your customers.</span></p>
                                                        <p style="text-align: center;"><em><span style="font-weight: 400;"> Why do we leave the bone in for the short rib?</span></em></p>
                                                        <p style="text-align: center;"><span style="font-weight: 400;"> It presents well on the plate, but also the bones are good heat insulators and add flavour to the dish.</span></p>
                                                        <p style="text-align: center;"><em><span style="font-weight: 400;"> Overnight cooking: Does flavour intensify when you chill it down, refrigerate and then reheat the next day?</span></em></p>
                                                        <p style="text-align: center;"><span style="font-weight: 400;"> Yes. That’s why it’s important to balance your curries out with sweet, sour, bitterness etc, and season it to taste prior to serving it. Some chefs overpower with tomato, but it’s crucial to get the right balance of flavours.</span></p>
                                                        <p style="text-align: center;"><em><span style="font-weight: 400;"> Could you do a goat curry in a brat pan?</span></em></p>
                                                        <p style="text-align: center;"><span style="font-weight: 400;"> Definitely. Sautee the goat, remove, start your jus, then add the meat back in the same as you would in a pot and reduce the heat to low. Make sure it doesn’t catch, add water or stock if needed, and taste it at the end to make sure the flavours are balanced.&nbsp;</span></p>
                                                        <p style="text-align: center;"><br><br></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>

                            <!-- /CASESTUDY -->
                        </div>
                    </div><div class="row clearfix">
                        <div class="block colouredbandblock percent-100 scrollTarget_0ca8a356-59cc-4b36-b99b-1cab1a634a19">
                            <div class="columns block coloured-band twelve ">
                                <div class="container">
                                    <h2 class="heading-dots-white">Video</h2>
                                    <p>&nbsp;</p>
                                    <div>
                                        <div>
                                            <object data="https://www.youtube.com/embed/66h-V69TdOg?autoplay=1" width="100%" height="550px">
                                            </object>
                                        </div>
                                    </div>
                                    <p>&nbsp;</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="content" class="content">
                </div>
            </div>
        </div>
    </div>
</div>

