
@{
    ViewBag.Title = "Beef ProTips";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-wrap">
    <div id="inner-wrap" class="inner-wrap menu-open">
        <div class="template template-home">
            <div class="row full-screen-menu" style="">
                <div class="menu-top">
                    <nav role="navigation" style="background-image: url()">
                        <div class="inner">
                            <ul>
                            </ul>
                        </div>
                    </nav>
                </div>
                <div class="secondary-nav">
                    <ul>
                        <li>
                            <a data-parentpageid="127091" href="/en/producertoplate/" target="_self">
                                <span>Producer To Plate</span>
                            </a>
                        </li>
                        <li>
                            <a data-parentpageid="129449" href="/en/masterclass/" target="_self">
                                <span>Masterclass</span>
                            </a>
                        </li>
                        <li>
                            <a data-parentpageid="130176" href="/en/protips/" target="_self">
                                <span>PRO TIPS</span>
                            </a>
                        </li>
                        <li>
                            <a data-parentpageid="127159" href="/1/" target="_self">
                                <span>Recipes</span>
                            </a>
                        </li>
                        <li>
                            <a data-parentpageid="127368" href="/en/msa/" target="_self">
                                <span>MSA</span>
                            </a>
                        </li>
                        <li>
                            <a data-parentpageid="125443" href="/rare-medium/" target="_self">
                                <span>RARE MEDIUM</span>
                            </a>
                        </li>
                        <li>
                            <div class="social">
                                <span class="connected"></span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div role="main">
                <div>
                    <div class="row clearfix">
                        <div class="block heroblock percent-100 scrollTarget_e1190dfa-c598-4a45-8e1f-eb5609cd4dac   ">
                            <div class="row">
                                <div class="columns block twelve hero display-two">
                                    <div class="hero-panel panel-one" style="background-image: url(/Content/images/Pro_Tips/Beef_ProTips/protips_silverside.jpg)">
                                        <div class="pattern">
                                            <div class="container">
                                                <div class="inner">
                                                    <div class="title">
                                                        <span></span>
                                                        Corned Beef Silverside
                                                    </div>
                                                    <a href="/en/protips/beef_protips/beef_silverside/" class="btn">WATCH</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="hero-panel panel-two" style="background-image: url(/Content/images/Pro_Tips/Beef_ProTips/protips_perfect-steak.jpg)">
                                        <div class="pattern">
                                            <div class="container">
                                                <div class="inner">
                                                    <div class="title">
                                                        <span></span>
                                                        THE PERFECT STEAK
                                                    </div>
                                                    <a href="/en/protips/beef_protips/beef_perfectsteak/" class="btn">WATCH</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><div class="row clearfix">
                        <div class="block heroblock percent-100 scrollTarget_51e20bc9-d14d-4765-8965-f5e55060f7f2   ">
                            <div class="row">
                                <div class="columns block twelve hero display-two">
                                    <div class="hero-panel panel-one" style="background-image: url(/Content/images/Pro_Tips/Beef_ProTips/japanese-short-rib.jpg)">
                                        <div class="pattern">
                                            <div class="container">
                                                <div class="inner">
                                                    <div class="title">
                                                        <span></span>
                                                        Japanese Short Ribs
                                                    </div>
                                                    <a href="/en/protips/beef_protips/shortribs/" class="btn">WATCH</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="hero-panel panel-two" style="background-image: url(/Content/images/Pro_Tips/Beef_ProTips/flank-steak.jpg)">
                                        <div class="pattern">
                                            <div class="container">
                                                <div class="inner">
                                                    <div class="title">
                                                        <span></span>
                                                        Barbequed Flank Steak
                                                    </div>
                                                    <a href="/en/protips/beef_protips/bbq_flanksteak/" class="btn">WATCH</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><div class="row clearfix">
                        <div class="block heroblock percent-100 scrollTarget_9a39ce35-b13c-49ae-a003-90a684a60310   ">
                            <div class="row">
                                <div class="columns block twelve hero display-two">
                                    <div class="hero-panel panel-one" style="background-image: url(/Content/images/Pro_Tips/Beef_ProTips/beef-curry.png)">
                                        <div class="pattern">
                                            <div class="container">
                                                <div class="inner">
                                                    <div class="title">
                                                        <span></span>
                                                        Cambodian Coconut Beef Curry
                                                    </div>
                                                    <a href="/en/protips/beef_protips/beefcurry/" class="btn">Watch</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="hero-panel panel-two" style="background-image: url(/Content/images/Pro_Tips/Beef_ProTips/beef-noodle.png)">
                                        <div class="pattern">
                                            <div class="container">
                                                <div class="inner">
                                                    <div class="title">
                                                        <span></span>
                                                        Vietnamese Noodle Salad
                                                    </div>
                                                    <a href="/en/protips/beef_protips/vietnamese_beefsalad/" class="btn">Watch</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><div class="row clearfix">
                        <div class="block heroblock percent-100 scrollTarget_e7613769-04ef-442c-8e89-21e230ace55e   ">
                            <div class="row">
                                <div class="columns block twelve hero display-two">
                                    <div class="hero-panel panel-one" style="background-image: url(/Content/images/Pro_Tips/Beef_ProTips/standing-rib-roast.jpg)">
                                        <div class="pattern">
                                            <div class="container">
                                                <div class="inner">
                                                    <div class="title">
                                                        <span></span>
                                                        Standing Rib Roast
                                                    </div>
                                                    <a href="/en/protips/beef_protips/beefribs/" class="btn">WATCH</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="hero-panel panel-two" style="background-image: url(/Content/images/Pro_Tips/Beef_ProTips/beef-protips_shin_orreciatte.png)">
                                        <div class="pattern">
                                            <div class="container">
                                                <div class="inner">
                                                    <div class="title">
                                                        <span></span>
                                                        Orecchiette with Tuscan Slow Cooked Shin of Beef
                                                    </div>
                                                    <a href="/en/protips/beef_protips/orecchiette_beef_shin/" class="btn">WATCH</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><div class="row clearfix">
                        <div class="block heroblock percent-100 scrollTarget_3ed0c265-55db-432a-a01b-2122f9338acd   ">
                            <div class="row">
                                <div class="columns block twelve hero display-two">
                                    <div class="hero-panel panel-one" style="background-image: url(/Content/images/Pro_Tips/Beef_ProTips/beef-protips_brisket_shuu.png)">
                                        <div class="pattern">
                                            <div class="container">
                                                <div class="inner">
                                                    <div class="title">
                                                        <span></span>
                                                        Turkish Pulled Brisket Shakshuka
                                                    </div>
                                                    <a href="/en/protips/beef_protips/turkish_brisket_shakshuka/" class="btn">WATCH</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="hero-panel panel-two" style="background-image: url(/Content/images/Pro_Tips/Beef_ProTips/beef-oxtail.jpg)">
                                        <div class="pattern">
                                            <div class="container">
                                                <div class="inner">
                                                    <div class="title">
                                                        <span></span>
                                                        Beef Oxtail Minestrone
                                                    </div>
                                                    <a href="/en/protips/beef_protips/beef_oxtail_minestrone" class="btn">WATCH</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><div class="row clearfix">
                        <div class="block heroblock percent-100 scrollTarget_b53bcbfd-527e-45ac-8bac-2cdff38c67a8   ">
                            <div class="row">
                                <div class="columns block twelve hero display-one">
                                    <div class="hero-panel panel-one" style="background-image: url(/Content/images/Pro_Tips/Beef_ProTips/beef-protips_apera.png)">
                                        <div class="pattern">
                                            <div class="container">
                                                <div class="inner">
                                                    <div class="title">
                                                        <span></span>
                                                        Braised Brisket Stuffed Arepa
                                                    </div>
                                                    <a href="/protips/brisket-apera/" class="btn">WATCH</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="content" class="content">
                </div>
            </div>
        </div>
    </div>
</div>

