
@{
    ViewBag.Title = "Rare Medium";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-wrap">
    <div id="inner-wrap" class="inner-wrap menu-open">
        <div class="template template-home">
            <div class="row full-screen-menu" >
                <div class="secondary-nav" style="background-color:black">
                    <ul>
                        <li>
                            <a data-parentpageid="127091" href="/en/producertoplate/" target="_self">
                                <span>Producer To Plate</span>
                            </a>
                        </li>
                        <li>
                            <a data-parentpageid="129449" href="/en/masterclass" target="_self">
                                <span>Masterclass</span>
                            </a>
                        </li>
                        <li>
                            <a data-parentpageid="130176" href="en/protips" target="_self">
                                <span>PRO TIPS</span>
                            </a>
                        </li>
                        <li>
                            <a data-parentpageid="127159" href="/1/" target="_self">
                                <span>Recipes</span>
                            </a>
                        </li>
                        <li>
                            <a data-parentpageid="127368" href="/en/msa/" target="_self">
                                <span>MSA</span>
                            </a>
                        </li>
                        <li>
                            <a data-parentpageid="125443" href="/rare-medium/" target="_self">
                                <span>RARE MEDIUM</span>
                            </a>
                        </li>
                        <li>
                            <div class="social">
                                <span class="connected"></span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div role="main">
                <div>
                    <div class="row clearfix">
                        <div class="block calltoactionblock percent-100 scrollTarget_0b994188-ae0a-453b-a12b-4520e427c731">
                            <div class="columns block twelve call-to-action ">
                                <div class="inner">
                                    <a href=" #">
                                        <span class="title">
                                            EDUCATE. CREATE. INSPIRE.
                                        </span>
                                        <p></p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div><div class="row clearfix"><div class="block buttonblock percent-100 scrollTarget_14bde38f-b585-4da7-b146-005764b46dfd   "></div></div><div class="row clearfix">
                        <div class="block colouredbandblock percent-100 scrollTarget_79fbc7a0-1b99-43c8-885c-4436c10e5e8b   ">
                            <div class="columns block coloured-band twelve ">
                                <div class="container">
                                    <h2 class="heading-dots-white">mission</h2>
                                    <p dir="auto" style="text-align: center;">&nbsp;</p>
                                    <h3 class="p5" style="text-align: center;"><span class="s1"><strong>WE'RE HERE TO EDUCATE AND INSPIRE YOU</strong></span></h3>
                                    <p class="p6" style="text-align: center;"><span class="s1">Rare Medium Academy is here to educate and inspire foodservice chefs from quick and fast service restaurants, aged care, commercial catering, transport, pubs and clubs to have success with Australian red meat in commercial kitchens and on menus.&nbsp;Our goal is to take you on an educational journey so you can be inspired to create dishes using Australian red meat.</span></p>
                                </div>
                            </div>
                        </div>
                    </div><div class="row clearfix">
                        <div class="block colouredbandblock scrollTarget_67baf155-7980-4d33-9d39-a1278086f4e1  percent-100 ">
                            <div class="columns block coloured-band twelve ">
                                <div class="container">
                                    <object data="https://www.youtube.com/embed/lHS8QDszFdc?autoplay=1" width="100%" height="550px">
                                    </object>
                                </div>
                            </div>
                        </div>
                    </div><div class="row clearfix">
                        <div class="block heroblock scrollTarget_fd9727b5-7e2c-4675-a8b9-6c628a0f6d87  percent-100 ">
                            <div class="row">
                                <div class="columns block twelve hero display-two">
                                    <div class="hero-panel panel-one" style="background-image: url(/Content/images/Logos/masterclass.jpg)">
                                        <div class="pattern">
                                            <div class="container">
                                                <div class="inner">
                                                    <div class="title">
                                                        <span></span>
                                                        MASTERCLASS
                                                    </div>
                                                    <a href="/masterclass/" class="btn">LEARN MORE</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="hero-panel panel-two" style="background-image: url(/Content/images/Logos/protips.jpg)">
                                        <div class="pattern">
                                            <div class="container">
                                                <div class="inner">
                                                    <div class="title">
                                                        <span></span>
                                                        PRO TIPS
                                                    </div>
                                                    <a href="/protips_landing/" class="btn">LEARN MORE</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><div class="row clearfix">
                        <div class="block heroblock scrollTarget_0ff7d2bf-c36a-4704-8351-d82aaf91f6cb  percent-100 ">
                            <div class="row">
                                <div class="columns block twelve hero display-two">
                                    <div class="hero-panel panel-one" style="background-image: url(/Content/images/Logos/recepies.jpg)">
                                        <div class="pattern">
                                            <div class="container">
                                                <div class="inner">
                                                    <div class="title">
                                                        <span></span>
                                                        RECIPES
                                                    </div>
                                                    <a href="/1/" class="btn">LEARN MORE</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="hero-panel panel-two" style="background-image: url(/Content/images/Logos/msa.jpg)">
                                        <div class="pattern">
                                            <div class="container">
                                                <div class="inner">
                                                    <div class="title">
                                                        <span></span>
                                                        MSA
                                                    </div>
                                                    <a href="/msa/" class="btn">LEARN MORE</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><div class="row clearfix">
                        <div class="block heroblock percent-100 scrollTarget_41dbd5fe-c55a-4f56-8c05-50f7b7386cf1   ">
                            <div class="row">
                                <div class="columns block twelve hero display-one">
                                    <div class="hero-panel panel-one" style="background-image: url(/Content/images/Logos/producertoplate.jpg) ">
                                        <div class="pattern">
                                            <div class="container">
                                                <div class="inner">
                                                    <div class="title">
                                                        <span></span>
                                                        Producer To Plate
                                                    </div>
                                                    <a href="/producer-to-plate/" class="btn">LEARN MORE</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><div class="row clearfix">
                        <div class="block colouredbandblock percent-100 scrollTarget_917cd672-a824-4f72-ad38-fd82ade89465   ">

                            <div class="columns block coloured-band twelve ">
                                <div class="container">
                                    <h2 class="heading-dots-white">Content</h2>
                                    <p class="p6"><span class="s1">&nbsp;</span></p>
                                    <h2><span class="s1"><strong>OUR OFFERING</strong></span></h2>
                                    <h2 class="p6"><span class="s1">&nbsp;</span></h2>
                                    <h3 class="p5"><span class="s1"><strong>MASTERCLASS</strong></span></h3>
                                    <p class="p6">MLA's Foodservice team host quarterly masterclasses via YouTube live to provide innovation, support and educate you. The themes of these live events will help you pivot your menus and guide you to have success with Australian red meat.<br><br>Some of our webinars include themes such as Low &amp; Slow, Summer Lamb, &nbsp;Red Meat Travel Solutions, Grab &amp; Go, Sustainable Menu Development and many more. Stay tuned for more in the year.&nbsp;</p>
                                    <p class="p5"><span class="s1"><strong>&nbsp;</strong></span><span class="s1">&nbsp;</span></p>
                                    <h3 class="p5"><span class="s1"><strong>PRO TIPS</strong></span></h3>
                                    <p class="p6">'Pro Tips' is a library of Australian red meat recipe videos that promote tips, tricks and hacks to mentor you, as a food service professional, to up-level your menu while maintaining costs, achieving a balanced meal and a delicious dish for your customers.</p>
                                    <p class="p6"><span class="s1">&nbsp;</span><span class="s1">&nbsp;</span></p>
                                    <h3 class="p5"><span class="s1"><strong>PRODUCER TO PLATE</strong></span></h3>
                                    <p class="p6"><span class="s1">The 10-part 'Producer to Plate' video series takes commercial foodservice leaders and executive chefs straight to the source where they meet the custodians of the land: the Australian livestock farmer.</span></p>
                                    <p class="p6"><span class="s1">The participants learn first-hand how Australia produces the best red meat in the world, and whilst on location, they get to create a dish that applies to their business.</span></p>
                                    <p class="p6"><span class="s1">'Producer To Plate' allows us to share these stories with you and encourage inspiration.</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="content" class="content">
                </div>
            </div>
        </div>
    </div>
</div>
    @*<div class="container">
        <img src="~/Content/images/cut-charts/beef-black-and-white.jpg" alt="Avatar" class="image" style="width:100%">
        <div class="middle">
            <div class="text">MASTER CLASS</div>
        </div>
        <img src="~/Content/images/cut-charts/beef-black-and-white.jpg" alt="Avatar" class="image" style="width:100%">
        <div class="middle">
            <div class="text">MASTER CLASS</div>
        </div>
    </div>*@

