
@{
    ViewBag.Title = "Great Steaks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-wrap">
    <div id="inner-wrap" class="inner-wrap menu-open">
        <div class="template template-home">
            <div class="row full-screen-menu" style="">
                <div class="menu-top">
                    <nav role="navigation" style="background-image: url()">
                        <div class="inner">
                            <ul>
                            </ul>
                        </div>
                    </nav>
                </div>
                <div class="secondary-nav">
                    <ul>
                        <li>
                            <a data-parentpageid="127091" href="/en/producertoplate/" target="_self">
                                <span>Producer To Plate</span>
                            </a>
                        </li>
                        <li>
                            <a data-parentpageid="129449" href="/en/masterclass" target="_self">
                                <span>Masterclass</span>
                            </a>
                        </li>
                        <li>
                            <a data-parentpageid="130176" href="/en/protips" target="_self">
                                <span>PRO TIPS</span>
                            </a>
                        </li>
                        <li>
                            <a data-parentpageid="127159" href="/1/" target="_self">
                                <span>Recipes</span>
                            </a>
                        </li>
                        <li>
                            <a data-parentpageid="127368" href="/en/msa/" target="_self">
                                <span>MSA</span>
                            </a>
                        </li>
                        <li>
                            <a data-parentpageid="125443" href="/rare-medium/" target="_self">
                                <span>RARE MEDIUM</span>
                            </a>
                        </li>
                        <li>
                            <div class="social">
                                <span class="connected"></span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div role="main">
                <div>
                    <div class="row clearfix">
                        <div class="block colouredbandblock percent-100 scrollTarget_f9b11196-eb69-45cc-8c51-ad8f6a4524cf">
                            <div class="columns block coloured-band twelve ">
                                <div class="container">
                                    <h2 class="heading-dots-white">Title</h2>
                                    <h1 style="text-align: center;">Great Steaks</h1>
                                </div>
                            </div>
                        </div>
                    </div><div class="row clearfix">
                        <div class="block casestudyblock percent-100 scrollTarget_6154e66d-18de-4570-8b38-e30e872dca59">
                            <!-- CASESTUDY   BLOCK -->
                            <section class="case-study">
                                <div class="container">
                                    <figure class="case-study_image">
                                        <img src="~/Content/images/MasterClass/GreatSneaks/MC_GreatSteaks_Banner.png" alt="Great Steaks">
                                    </figure>
                                    <div class="flex-container-wrapper">
                                        <div class="col-group flex-center-group">
                                            <div class="col-offset-3 col-9">
                                                <div class="case-study_inner">
                                                    <h1 class="case-study_heading">Great Steaks</h1>
                                                    <div class="case-study_header">
                                                        <p></p>
                                                    </div>
                                                    <div class="case-study_body">
                                                        <p style="text-align: center;"><span style="font-weight: 400;">This masterclass focuses on how to cook the perfect steak for your business; whether it’s butchering, a simple sandwich, takeaway, right up to fine dining – at RMA, we have your back. We’re here to create, educate and inspire success with Australian red meat on your menu.</span></p>
                                                        <p style="text-align: center;"><span style="font-weight: 400;">We’ve created this masterclass for the foodservice professional – the chef, chefs in the making, procurement managers, peak industry councils, producers and anyone who has love for Australian red meat.</span></p>
                                                        <p style="text-align: center;"><span style="font-weight: 400;">We’re thrilled to have teamed up with Seagrass Boutique Hospitality’s Executive Chef Sean Hall and Head Chef Scott Greve of 6HEAD in The Rocks, Sydney, to show you how they succeed as one of the best steak restaurants in the country.</span></p>
                                                        <p style="text-align: center;"><span style="font-weight: 400;">But first, MLA butcher Doug Piper showcases the rib set from the forequarter, some of the best pieces of beef you’ll ever eat in your life.&nbsp;</span></p>
                                                        <p style="text-align: center;"><span style="font-weight: 400;">We then visit Executive Chef Sean Hall at 6HEAD to talk about all things dry and wet-aged beef.&nbsp;</span></p>
                                                        <p style="text-align: center;"><span style="font-weight: 400;">Sean grew up on a beef farm in South Africa where his love and passion for the meat was instilled at a very young age. He moved to the UK at 22 years old, where he worked with and learned from a passionate Scottish chef, understanding beef’s flavour profile. Then he spent six years with the Jamie Oliver Group before coming to Australia and starting Seagrass Boutique Hospitality.&nbsp;</span></p>
                                                        <p style="text-align: center;"><span style="font-weight: 400;">6HEAD is famous for their dry-aged beef. Historically from the 1800s, that’s the method of naturally ageing beef until the late 1960s when wet ageing came into place. 6HEAD focuses on the sweet spots of dry-ageing, with three dry-ageing cabinets in their facility. The benefits with dry-ageing is that there’s lots of moisture and flavour, and the meat remains tender. Dry-ageing is meant to be anywhere from 14 to 17 days, but 6HEAD takes it past that. For example, Tomahawks will go up to two weeks and T-bones up to four weeks. They’ve found a great sweet spot where the flavour is present but not too intense for customers.</span></p>
                                                        <p style="text-align: center;"><span style="font-weight: 400;">What we’re seeing now is that the majority of beef is wet-aged. With this method, the product ages faster and becomes tender faster, but it doesn’t necessarily add to flavour like dry-aged, so there’s a trade-off.&nbsp;</span></p>
                                                        <p style="text-align: center;"><span style="font-weight: 400;">We also took Sean Hall and Scott Greve to Macka’s Black Angus Beef farm in Gloucester, NSW, where Sean shows you how to cook an incredible Tomahawk steak over open flames, and Scott shows you how to cook the perfect ribeye on the bone.</span></p>
                                                        <p style="text-align: center;"><span style="font-weight: 400;">Scott Greve is Sean’s right hand man. He started his career in the UK with the Jamie Oliver Group, and came to Australia to help the Group open several restaurants, until he joined Sean in launching 6HEAD.</span></p>
                                                        <p style="text-align: center;"><span style="font-weight: 400;">Scott shares the differences between grass and grain-fed beef. With grass fed cattle, there’s a nice yellow fat in the skin which comes from the pigmentation of grass that the animals eat. The meat has a nice earthy, robust flavour, and also tends to vary in taste, texture and tenderness based off of the grass consumed.</span></p>
                                                        <p style="text-align: center;"><span style="font-weight: 400;">While all cattle starts on grass, some are fed grain for their last 90 days. The ration and when they finish can influence the marbling. With grain, there’s more consistency, the fat is whiter and there’s more marbling which adds to the tenderness when cooking.</span></p>
                                                        <p style="text-align: center;"><span style="font-weight: 400;">Branded beef is also important at 6HEAD – it tells you where the food comes from. Meat Standards Australia provides eating quality assurance to ensure that customers are getting an optimum eating experience.</span></p>
                                                        <p style="text-align: center;"><span style="font-weight: 400;">Don’t miss out on our next Producer to Plate episode where we visit the humble folks at Macka’s Black Angus Beef farm in Gloucester NSW. That’s coming June 2021, so stay tuned for more info.</span></p>
                                                        <p style="text-align: center;"><span style="font-weight: 400;">Our next masterclass with be on June 16 where we’ll focus on Roasts and Carveries, giving you tips on how to best serve some of Australia’s finest red meats for those cold winter months.</span></p>
                                                        <p style="text-align: center;"><span style="font-weight: 400;">Questions that we’ve received</span></p>
                                                        <p style="text-align: center;"><em><span style="font-weight: 400;"> What’s the ideal thickness for steak?</span></em></p>
                                                        <p style="text-align: center;"><span style="font-weight: 400;"> We advise 3½ to 4cm – a good thick steak to allow more range in getting the degree of doneness right. That’s how you can really learn to master rare, medium rare, medium and well done.</span></p>
                                                        <p style="text-align: center;"><em><span style="font-weight: 400;"> Why do you let red meat come to room temperature before cooking?&nbsp;</span></em></p>
                                                        <p style="text-align: center;"><span style="font-weight: 400;"> It all comes down to wanting a good sear and crust, which won’t happen if the meat is cold. We recommend taking it out 15 to 20 minutes before cooking to let it come to room temperature first.</span></p>
                                                        <p style="text-align: center;"><em><span style="font-weight: 400;"> Is MSA a brand?&nbsp;</span></em></p>
                                                        <p style="text-align: center;"><span style="font-weight: 400;"> No – it’s an eating quality grading system developed by the red meat industry. It uses over 100,000 sensory customer tests with one million pieces of meat to make sure customers are getting the best quality.</span></p>
                                                        <p>&nbsp;</p>
                                                        <p>&nbsp;</p>
                                                        <p>&nbsp;</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <!-- /CASESTUDY -->
                        </div>
                    </div><div class="row clearfix">
                        <div class="block colouredbandblock percent-100 scrollTarget_1c4f1bd7-faf4-4acd-aa36-0c277bad47e7   ">
                            <div class="columns block coloured-band twelve ">
                                <div class="container">
                                    <h2 class="heading-dots-white">Video</h2>
                                    <p>&nbsp;</p>
                                    <div>
                                        <div>
                                            <object data="https://www.youtube.com/embed/D-7p8VYOD5A?autoplay=1" width="100%" height="550px">
                                            </object>
                                        </div>
                                    </div>
                                    <p>&nbsp;</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="content" class="content">
                </div>
            </div>
        </div>        
    </div>
</div>

