
@{
    ViewBag.Title = "Mastering WOK Cooking";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-wrap">
    <div id="inner-wrap" class="inner-wrap menu-open">
        <div class="template template-home">
            <div class="row full-screen-menu" style="">
                <div class="menu-top">
                    <nav role="navigation" style="background-image: url()">
                        <div class="inner">
                            <ul>
                            </ul>
                        </div>
                    </nav>
                </div>
                <div class="secondary-nav">
                    <ul>
                        <li>
                            <a data-parentpageid="127091" href="/en/producertoplate/" target="_self">
                                <span>Producer To Plate</span>
                            </a>
                        </li>
                        <li>
                            <a data-parentpageid="129449" href="/en/masterclass/" target="_self">
                                <span>Masterclass</span>
                            </a>
                        </li>
                        <li>
                            <a data-parentpageid="130176" href="/en/protips/" target="_self">
                                <span>PRO TIPS</span>
                            </a>
                        </li>
                        <li>
                            <a data-parentpageid="127159" href="/1/" target="_self">
                                <span>Recipes</span>
                            </a>
                        </li>
                        <li>
                            <a data-parentpageid="127368" href="/en/msa/" target="_self">
                                <span>MSA</span>
                            </a>
                        </li>
                        <li>
                            <a data-parentpageid="125443" href="/rare-medium/" target="_self">
                                <span>RARE MEDIUM</span>
                            </a>
                        </li>
                        <li>
                            <div class="social">
                                <span class="connected"></span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div role="main">
                <div>
                    <div class="row clearfix">
                        <div class="block colouredbandblock percent-100 scrollTarget_34700aee-3f8c-40d4-87de-de507afc26b2">
                            <div class="columns block coloured-band twelve ">
                                <div class="container">
                                    <h2 class="heading-dots-white">Title</h2>
                                    <h1>Mastering Wok Cooking</h1>
                                </div>
                            </div>
                        </div>
                    </div><div class="row clearfix">
                        <div class="block casestudyblock percent-100 scrollTarget_7cbd9ce0-8048-4aa5-b6b1-94ad45e86a13  ">
                            <!-- CASESTUDY   BLOCK -->
                            <section class="case-study">
                                <div class="container" style="background-color:white;">
                                    <figure class="case-study_image">
                                        <img src="~/Content/images/MasterClass/MasteringWokCooking/MCWOK_Cooking_Banner.png" alt="Mastering Wok Cooking">
                                    </figure>
                                    <!-- why is the image used twice? background image on the container and another separate image element inside it??? -->
                                    <div class="flex-container-wrapper">
                                        <div class="col-group flex-center-group">
                                            <div class="col-offset-3 col-9">
                                                <div class="case-study_inner">
                                                    <h1 class="case-study_heading">Mastering Wok Cooking</h1>
                                                    <div class="case-study_header">
                                                        <p></p>
                                                    </div>
                                                    <div class="case-study_body">
                                                        <p dir="auto" style="text-align: center;">This masterclass focuses on cooking Australian red meat over a fiery hot wok which is a truly magical process. The movement of the wok is called the breath of the wok which gives the meat a smoky, charred flavour and a beautiful fragrance for your customers.</p>
                                                        <p dir="auto" style="text-align: center;">The best tip before diving into wok cooking is to have all of your meats and ingredients ready to go because once you start cooking, there’s no going back.</p>
                                                        <p dir="auto" style="text-align: center;">The first dish in this masterclass looks at a Sichuan pepper beef recipe – an easy one. Next up is a traditional Mongolian lamb recipe; a classic. Then we go through a versatile, beef fried rice recipe – and to finish off – a beef in xo sauce recipe.</p>
                                                        <p dir="auto" style="text-align: center;">Butchery is incredibly important, especially so when cooking in a wok. Our master corporate butcher Doug Piper shows you how to cut bolar blade beef for these recipes.</p>
                                                        <h4 dir="auto" style="text-align: center;">“Generally we use bolar blade for roasting or a slow cook or braise, but today we’re showing you some quicker cook methods using this piece of beef.”</h4>
                                                        <h4 dir="auto" style="text-align: center;">“When preparing bolar for a quick cook, it’s important to get the grain right. You want to cut across the grain and make little slivers of beef – thin – around three mils. We don’t want it too thick or it broils as we cook it. We want it thin enough to quickly form a sear on either side of the meat, giving it a fantastic eating experience.”</h4>
                                                        <p dir="auto" style="text-align: center;">The masterclass finishes off with a chat with Sharon Altman, team leader of commercial cookery and bakery at TAFE NSW, who educates the chefs of tomorrow on ways to best utilise Australian red meat.</p>
                                                        <p dir="auto" style="text-align: center;">We’re proud to have partnered with TAFE NSW on this masterclass</p>
                                                        <p dir="auto" style="text-align: center;">&nbsp;</p>
                                                        <p dir="auto" style="text-align: center;">&nbsp;</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <!-- /CASESTUDY -->
                        </div>
                    </div><div class="row clearfix">
                        <div class="block colouredbandblock percent-100 scrollTarget_c67cdcb6-4c9a-428e-bf25-fc33231ca54e   ">

                            <div class="columns block coloured-band twelve ">
                                <div class="container">
                                    <h2 class="heading-dots-white">Video</h2>
                                    <p>&nbsp;</p>
                                    <div>
                                        <div>
                                            <object data="https://www.youtube.com/embed/1rkrqonKnr4?autoplay=1" width="100%" height="550px">
                                            </object>
                                        </div>
                                    </div>
                                    <p>&nbsp;</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="content" class="content">
                </div>
            </div>
        </div>     
    </div>
</div>

