
@{
    ViewBag.Title = "Meat Standards Australlia";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-wrap">
    <div id="inner-wrap" class="inner-wrap menu-open">
        <div class="template">
            <div class="row full-screen-menu" style="">
                <div class="menu-top">
                    <nav role="navigation" style="background-image: url()">
                        <div class="inner">
                            <ul>
                            </ul>
                        </div>
                    </nav>
                </div>
                <div class="secondary-nav">
                    <ul>
                        <li>
                            <a data-parentpageid="127091" href="/en/producertoplate/" target="_self">
                                <span>Producer To Plate</span>
                            </a>
                        </li>
                        <li>
                            <a data-parentpageid="129449" href="/en/masterclass/" target="_self">
                                <span>Masterclass</span>
                            </a>
                        </li>
                        <li>
                            <a data-parentpageid="130176" href="/en/protips/" target="_self">
                                <span>PRO TIPS</span>
                            </a>
                        </li>
                        <li>
                            <a data-parentpageid="127159" href="/1/" target="_self">
                                <span>Recipes</span>
                            </a>
                        </li>
                        <li>
                            <a data-parentpageid="127368" class="active" href="/en/msa/" target="_self">
                                <span>MSA</span>
                            </a>
                        </li>
                        <li>
                            <a data-parentpageid="125443" href="/rare-medium/" target="_self">
                                <span>RARE MEDIUM</span>
                            </a>
                        </li>
                        <li>
                            <div class="social">
                                <span class="connected"></span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <input type="hidden" value="122429" id="parentpageid">
            <div role="main">
                <div id="content" class="content">
                    <div>
                        <div class="row clearfix">
                            <div class="block colouredbandblock scrollTarget_fc3591cc-8134-4af7-a3af-d9eedef7126f  percent-100 ">
                                <div class="columns block coloured-band twelve ">
                                    <div class="container">
                                        <h2 class="heading-dots-white">Canowindra’s Charlie Blomfield talks Australian lamb in our new Producer to Plate series</h2>
                                        <h1 class="p1"><span class="s1">About Meat Standards Australia (MSA)</span></h1>
                                    </div>
                                </div>
                            </div>
                        </div><div class="row clearfix">
                            <div class="block casestudyblock scrollTarget_03c9c5c3-4f62-4913-af00-ed23d5a638f7  percent-100 "  style="background-color:white;">
                                <!-- CASESTUDY   BLOCK -->
                                <section class="case-study">
                                    <div class="container">
                                        <figure class="case-study_image">
                                            <img src="/Content/images/MSA/msa-banners-2.jpg" alt="Charlie">
                                        </figure>
                                        <!-- why is the image used twice? background image on the container and another separate image element inside it??? -->
                                        <div class="flex-container-wrapper">
                                            <div class="col-group flex-center-group">
                                                <div class="col-offset-3 col-9">
                                                    <div class="case-study_inner">
                                                        <h1 class="case-study_heading"></h1>
                                                        <div class="case-study_header">
                                                            <p></p>
                                                        </div>
                                                        <div class="case-study_body">
                                                            <p style="text-align: center;"><span class="s1" style="color: #000000;">MSA is an <strong><em><a style="color: #000000;" href="https://www.mla.com.au/marketing-beef-and-lamb/meat-standards-australia/wholesale-retail-and-foodservice/"><span class="s2">eating quality grading program</span></a></em></strong> that accurately predicts the eating quality of individual beef and lamb cuts, in conjunction with cook method. </span></p>
                                                            <p style="text-align: center;"><span class="s1" style="color: #000000;">The program is based on 1.2 million taste tests with more than 170,000 consumers from 11 countries and takes into account all factors that affect eating quality from paddock to plate. </span></p>
                                                            <p style="text-align: center;"><span class="s1" style="color: #000000;">MSA underpins the eating quality claims of 197 beef and lamb brands, which are stocked by more than 3,500 MSA-licensed independent butchers, supermarkets and food service outlets. </span></p>
                                                            <p style="text-align: center;"><span class="s1" style="color: #000000;">67% surveyed butchers rated their satisfaction with MSA beef as ‘Good to Excellent’.</span></p>
                                                            <p style="text-align: center;"><span class="s1" style="color: #000000;">To use the MSA trademark, receive training and become a licensed outlet, visit <a style="color: #000000;" href="https://www.mla.com.au/marketing-beef-and-lamb/meat-standards-australia/"><em><strong>mla.com.au/msa</strong></em></a></span></p>
                                                            <p style="text-align: center;"><span class="s1" style="color: #000000;">For more information or to book in training with MSA End User Training Facilitator, Kelly Payne, contact:</span></p>
                                                            <p style="text-align: center;"><span class="s2" style="color: #000000;">P: 1800 111 672 | E: <a style="color: #000000;" href="mailto:msaenquiries@mla.com.au"><span class="s3">msaenquiries@mla.com.au</span></a> </span></p>
                                                            <h3 class="p4" style="text-align: center;">&nbsp;</h3>
                                                            <h3 class="p4" style="text-align: center;"><span class="s1" style="color: #000000;">Applying cut by cook methods</span></h3>
                                                            <p style="text-align: center;"><span class="s1" style="color: #000000;">MSA alleviates the need for consumers to have specialist knowledge to choose and cook beef and lamb. MSA product must meet consumer-set standards identified by three quality levels; 3, 4 or 5 stars. And MSA retail labels advise the correct cooking method and required days’ ageing for every eligible cut to ensure it meets the consumer’s expectations, every time.</span></p>
                                                            <p style="text-align: center;"><span class="s1" style="color: #000000;"><strong><a style="color: #000000;" href="/globalassets/digital-assets/rma/pdfs/recipes/msa-standards-table.pdf">View the MSA Standards Table</a></strong></span></p>
                                                            <h3 class="p1" style="text-align: center;"><span class="s1" style="color: #000000;">Become an accredited MSA outlet</span></h3>
                                                            <p style="text-align: center;"><span class="s1" style="color: #000000;">Licence your business and train your staff through the MSA Excellence in Eating Quality online training portal. The portal offers you the option to become MSA licensed or to simply undertake training to learn more about eating quality with no obligation to become licensed. </span></p>
                                                            <p style="text-align: center;"><span class="s1" style="color: #000000;">For existing MSA licensed businesses, the program is a refreshing, interactive and educational tool that all of your staff can complete in less than 40 minutes. Get started by clicking on the button below. </span></p>
                                                            <p style="text-align: center;"><span style="color: #000000;"><strong><span class="s2"><a style="color: #000000;" href="https://enduser.msagrading.com.au/">Learn More | MSA training</a></span></strong></span></p>
                                                            <p style="text-align: center;">&nbsp;</p>
                                                            <p style="text-align: center;"><span class="s1" style="color: #000000;">MSA licensed end users (wholesalers, retailers, food service and supermarkets) must adhere to the MSA Standards Manual for end users to ensure the integrity of the MSA program is upheld. </span></p>
                                                            <p style="text-align: center;"><span style="color: #000000;"><strong><span class="s2"><a style="color: #000000;" href="https://enduser.msagrading.com.au/">Learn More</a><a style="color: #000000;" href="https://www.mla.com.au/marketing-beef-and-lamb/meat-standards-australia/msa-standards/">&nbsp;| MSA standards</a></span></strong></span></p>
                                                            <h3 class="p1" style="text-align: center;"><span class="s1" style="color: #000000;">MSA locator</span></h3>
                                                            <p style="text-align: center;"><span class="s1" style="color: #000000;">To find your nearest MSA licensed supplier, check out the <em><strong><a style="color: #000000;" href="https://www.mla.com.au/marketing-beef-and-lamb/meat-standards-australia/msa-locator/"><span class="s4">MSA locator</span></a> </strong></em></span></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                                <!-- /CASESTUDY -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

