
@{
    ViewBag.Title = "Pro Tips BBQ Flank Steak";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-wrap">
    <div id="inner-wrap" class="inner-wrap menu-open">
        <div class="template">
            <div class="row full-screen-menu" style="">
                <div class="menu-top">
                    <nav role="navigation" style="background-image: url()">
                        <div class="inner">
                            <ul>
                            </ul>
                        </div>
                    </nav>
                </div>
                <div class="secondary-nav">
                    <ul>
                        <li>
                            <a data-parentpageid="127091" href="/en/producertoplate/" target="_self">
                                <span>Producer To Plate</span>
                            </a>
                        </li>
                        <li>
                            <a data-parentpageid="129449" href="/en/masterclass/" target="_self">
                                <span>Masterclass</span>
                            </a>
                        </li>
                        <li>
                            <a data-parentpageid="130176" href="/en/protips/" target="_self">
                                <span>PRO TIPS</span>
                            </a>
                        </li>
                        <li>
                            <a data-parentpageid="127159" href="/1/" target="_self">
                                <span>Recipes</span>
                            </a>
                        </li>
                        <li>
                            <a data-parentpageid="127368" href="/en/msa/" target="_self">
                                <span>MSA</span>
                            </a>
                        </li>
                        <li>
                            <a data-parentpageid="125443" href="/rare-medium/" target="_self">
                                <span>RARE MEDIUM</span>
                            </a>
                        </li>
                        <li>
                            <div class="social">
                                <span class="connected"></span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <input type="hidden" value="127230" id="parentpageid">
            <div role="main">
                <div id="content" class="content">
                    <div>
                        <div class="row clearfix">
                            <div class="block colouredbandblock scrollTarget_e712de89-10c9-4888-b1ed-2af71f2bc5c1  percent-100 ">

                                <div class="columns block coloured-band twelve ">
                                    <div class="container">
                                        <h2 class="heading-dots-white">Pro Tips flank steak Video</h2>
                                        <h3 class="_04xlpA direction-ltr align-start para-style-body" style="text-align: center;"><span class="JsGRdQ">PRO TIP | BBQ FLANK STEAK</span><span class="JsGRdQ">&nbsp;H.A.M 2210</span></h3>
                                        <div style="padding: 56.25% 0 0 0; position: relative;">
                                            <div>
                                                <div>
                                                    <object data="https://www.youtube.com/embed/dgHE2iggBaQ?autoplay=1" width="100%" height="550px">
                                                    </object>
                                                </div>
                                            </div>
                                        </div>
                                        <h3 class="_04xlpA direction-ltr align-start para-style-body" style="text-align: center;">
                                            <script src="https://player.vimeo.com/api/player.js"></script>
                                        </h3>
                                        <h3 class="_04xlpA direction-ltr align-start para-style-body" style="text-align: center;">&nbsp;</h3>
                                        <h3>&nbsp;</h3>
                                        <h3 class="_04xlpA direction-ltr align-start para-style-body"><span class="JsGRdQ">CUT: FLANK STEAK</span><span class="JsGRdQ"> | H.A.M 2210</span></h3>
                                        <h3 class="_04xlpA direction-ltr align-start para-style-body"><span class="JsGRdQ">METHOD: HIBACHI GRILLED &amp; REST</span></h3>
                                        <h3 class="_04xlpA direction-ltr align-start para-style-body"><span class="JsGRdQ">DISH: BBQ FLANK STEAK WITH chimichurri &amp; SIDES</span></h3>
                                    </div>
                                </div>
                            </div>
                        </div><div class="row clearfix">
                            <div class="block buttonblock percent-100 scrollTarget_50829f75-fe8b-486e-a93b-bca89855f2f3   ">
                                <a class="button-block  btn-primary" href="~/Content/images/Pro_Tips/Beef_ProTips/PDF'S/barbequed-flank-steak.pdf" target="_blank">
                                    DOWNLOAD RECIPE
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

