
@{
    ViewBag.Title = "Pro Tips Beef Short Ribs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-wrap">
    <div id="inner-wrap" class="inner-wrap menu-open">
        <div class="template">
            <div class="row full-screen-menu" style="">
                <div class="menu-top">
                    <nav role="navigation" style="background-image: url()">
                        <div class="inner">
                            <ul>
                            </ul>
                        </div>
                    </nav>
                </div>
                <div class="secondary-nav">
                    <ul>
                        <li>
                            <a data-parentpageid="127091" href="/en/producertoplate/" target="_self">
                                <span>Producer To Plate</span>
                            </a>
                        </li>
                        <li>
                            <a data-parentpageid="129449" href="/en/masterclass/" target="_self">
                                <span>Masterclass</span>
                            </a>
                        </li>
                        <li>
                            <a data-parentpageid="130176" href="/en/protips/" target="_self">
                                <span>PRO TIPS</span>
                            </a>
                        </li>
                        <li>
                            <a data-parentpageid="127159" href="/1/" target="_self">
                                <span>Recipes</span>
                            </a>
                        </li>
                        <li>
                            <a data-parentpageid="127368" href="/en/msa/" target="_self">
                                <span>MSA</span>
                            </a>
                        </li>
                        <li>
                            <a data-parentpageid="125443" href="/rare-medium/" target="_self">
                                <span>RARE MEDIUM</span>
                            </a>
                        </li>
                        <li>
                            <div class="social">
                                <span class="connected"></span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <input type="hidden" value="127230" id="parentpageid">
            <div role="main">
                <div id="content" class="content">
                    <div>
                        <div class="row clearfix">
                            <div class="block colouredbandblock scrollTarget_72b1c2d8-e126-4b9c-8af2-23b661d42733  percent-100 ">

                                <div class="columns block coloured-band twelve ">
                                    <div class="container">
                                        <h2 class="heading-dots-white">Pro Tips Beef Ribs Video</h2>
                                        <h3 class="_04xlpA direction-ltr align-start para-style-body" style="text-align: center;"><span class="JsGRdQ">PRO TIP | JAPANESE&nbsp;</span><span class="JsGRdQ">SHORT RIB H.A.M 1694</span></h3>
                                        <div style="padding: 56.25% 0 0 0; position: relative;">
                                            <div>
                                                <object data="https://www.youtube.com/embed/VUKrr7Dn81Y?autoplay=1" width="100%" height="550px">
                                                </object>
                                            </div>
                                        </div>
                                        <h3 class="_04xlpA direction-ltr align-start para-style-body" style="text-align: center;">
                                            <script src="https://player.vimeo.com/api/player.js"></script>
                                        </h3>
                                        <h3 class="_04xlpA direction-ltr align-start para-style-body" style="text-align: center;">&nbsp;</h3>
                                        <h3 class="_04xlpA direction-ltr align-start para-style-body" style="text-align: center;">&nbsp;</h3>
                                        <h3 class="_04xlpA direction-ltr align-start para-style-body"><span class="JsGRdQ">CUT: SHORT RIB | H.A.M 1694</span></h3>
                                        <h3 class="_04xlpA direction-ltr align-start para-style-body"><span class="JsGRdQ">METHOD: PAN SEARED AND BRAISED</span></h3>
                                        <h3 class="_04xlpA direction-ltr align-start para-style-body"><span class="JsGRdQ">DISH: BEEF SHORT RIB WITH A STICKY GLAZE &amp; RADISH SALAD</span></h3>
                                    </div>
                                </div>
                            </div>
                        </div><div class="row clearfix">
                            <div class="block buttonblock percent-100 scrollTarget_1f75c50b-0c71-42a4-8a5c-4f3a220ecd20   ">
                                <a class="button-block  btn-primary" href="~/Content/images/Pro_Tips/Beef_ProTips/PDF'S/japanese-short-ribs.pdf" target="_blank">
                                    DOWNLOAD RECIPE
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

