
@{
    ViewBag.Title = "Low Slow";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-wrap">
    <div id="inner-wrap" class="inner-wrap menu-open">
        <div class="template template-home">
            <div class="row full-screen-menu" style="">
                <div class="menu-top">
                    <nav role="navigation" style="background-image: url()">
                        <div class="inner">
                            <ul>
                            </ul>
                        </div>
                    </nav>
                </div>
                <div class="secondary-nav">
                    <ul>
                        <li>
                            <a data-parentpageid="127091" href="/en/producertoplate/" target="_self">
                                <span>Producer To Plate</span>
                            </a>
                        </li>
                        <li>
                            <a data-parentpageid="129449" href="/en/masterclass/" target="_self">
                                <span>Masterclass</span>
                            </a>
                        </li>
                        <li>
                            <a data-parentpageid="130176" href="/en/protips/" target="_self">
                                <span>PRO TIPS</span>
                            </a>
                        </li>
                        <li>
                            <a data-parentpageid="127159" href="/1/" target="_self">
                                <span>Recipes</span>
                            </a>
                        </li>
                        <li>
                            <a data-parentpageid="127368" href="/en/msa/" target="_self">
                                <span>MSA</span>
                            </a>
                        </li>
                        <li>
                            <a data-parentpageid="125443" href="/rare-medium/" target="_self">
                                <span>RARE MEDIUM</span>
                            </a>
                        </li>
                        <li>
                            <div class="social">
                                <span class="connected"></span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div role="main">
                <div>
                    <div class="row clearfix">
                        <div class="block colouredbandblock percent-100 scrollTarget_85548eeb-d19f-4fd3-b7be-b2121c1983c6   ">
                            <div class="columns block coloured-band twelve ">
                                <div class="container">
                                    <h2 class="heading-dots-white">Title</h2>
                                    <h1>Low &amp; Slow</h1>
                                </div>
                            </div>
                        </div>
                    </div><div class="row clearfix">
                        <div class="block casestudyblock percent-100 scrollTarget_ee1f7700-8fd0-4fe7-88f9-f178bff370a2" style="background-color:white;">
                            <!-- CASESTUDY   BLOCK -->
                            <section class="case-study">
                                <div class="container">
                                    <figure class="case-study_image">
                                        <img src="~/Content/images/MasterClass/LowSlow/lowslow_Banner.jpg" alt="low&amp;slow">
                                    </figure>
                                    <!-- why is the image used twice? background image on the container and another separate image element inside it??? -->
                                    <div class="flex-container-wrapper">
                                        <div class="col-group flex-center-group">
                                            <div class="col-offset-3 col-9">
                                                <div class="case-study_inner">
                                                    <h1 class="case-study_heading">Low &amp; Slow</h1>
                                                    <div class="case-study_header">
                                                        <p></p>
                                                    </div>
                                                    <div class="case-study_body">
                                                        <p style="text-align: center;">Our ‘Low and Slow’ Masterclass live webinar in collaboration with Weber is kicking off this Tuesday at 4pm with the first theme, focused on making beef and lamb dishes the low and slow way.</p>
                                                        <p style="text-align: center;">In this webinar, Meat &amp; Livestock Australia Executive chef Sam Burke and head butcher Doug Piper will be sharing how to prepare and cook Beef and Lamb cuts for foodservice professionals.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>

                            <!-- /CASESTUDY -->
                        </div>
                    </div><div class="row clearfix">
                        <div class="block colouredbandblock percent-100 scrollTarget_b377c2bb-9656-429e-b7fc-765e079bda36   ">

                            <div class="columns block coloured-band twelve ">
                                <div class="container">
                                    <h2 class="heading-dots-white">Video</h2>
                                    <p>&nbsp;</p>
                                    <div>
                                        <div>
                                            <object data="https://www.youtube.com/embed/FGIrckG4Wsw?autoplay=1" width="100%" height="550px">
                                            </object>
                                            @*<iframe style="position: relative; top: 0; left: 0; width: 100%;" src="//www.youtube.com/embed/FGIrckG4Wsw?t=2s&amp;enablejsapi=1&amp;origin=https%3A%2F%2Fwww.raremediumacademy.com" width="1020" height="572" frameborder="0" allowfullscreen="allowfullscreen" data-mce-fragment="1" data-gtm-yt-inspected-1_19="true" id="152294603" data-gtm-yt-inspected-34427855_72="true" data-gtm-yt-inspected-6="true" title="Rare Medium Academy Webinar | Episode One | Low &amp; Slow Cooking"></iframe>*@
                                        </div>
                                    </div>
                                    <p>&nbsp;</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="content" class="content">
                </div>
            </div>
        </div>
    </div>
</div>