
@{
    ViewBag.Title = "Roasts Carvery";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-wrap">
    <div id="inner-wrap" class="inner-wrap menu-open">
        <div class="template template-home">
            <div class="row full-screen-menu" style="">
                <div class="menu-top">
                    <nav role="navigation" style="background-image: url()">
                        <div class="inner">
                            <ul>
                            </ul>
                        </div>
                    </nav>
                </div>
                <div class="secondary-nav">
                    <ul>
                        <li>
                            <a data-parentpageid="127091" href="/en/producertoplate/" target="_self">
                                <span>Producer To Plate</span>
                            </a>
                        </li>
                        <li>
                            <a data-parentpageid="129449" href="/en/masterclass/" target="_self">
                                <span>Masterclass</span>
                            </a>
                        </li>
                        <li>
                            <a data-parentpageid="130176" href="/en/protips/" target="_self">
                                <span>PRO TIPS</span>
                            </a>
                        </li>
                        <li>
                            <a data-parentpageid="127159" href="/1/" target="_self">
                                <span>Recipes</span>
                            </a>
                        </li>
                        <li>
                            <a data-parentpageid="127368" href="/en/msa/" target="_self">
                                <span>MSA</span>
                            </a>
                        </li>
                        <li>
                            <a data-parentpageid="125443" href="/rare-medium/" target="_self">
                                <span>RARE MEDIUM</span>
                            </a>
                        </li>
                        <li>
                            <div class="social">
                                <span class="connected"></span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
            <div role="main">
                <div>
                    <div class="row clearfix">
                        <div class="block colouredbandblock percent-100 scrollTarget_4d4aa428-d77f-4c2c-8ac8-cd7f341578fb   ">

                            <div class="columns block coloured-band twelve ">
                                <div class="container">
                                    <h2 class="heading-dots-white">Title</h2>
                                    <h1>Roasts &amp; Carvery&nbsp;</h1>
                                </div>
                            </div>
                        </div>
                    </div><div class="row clearfix">
                        <div class="block casestudyblock percent-100 scrollTarget_d71414d3-98e6-4ec4-bbe9-3bcd629c60f0">
                            <section class="case-study">
                                <div class="container">
                                    <figure class="case-study_image">
                                        <img src="~/Content/images/MasterClass/RoastsCarvery/roastscarvery_banner.png" alt="R&amp;C Carvery">
                                    </figure>                                    
                                    <div class="flex-container-wrapper">
                                        <div class="col-group flex-center-group">
                                            <div class="col-offset-3 col-9">
                                                <div class="case-study_inner">
                                                    <h1 class="case-study_heading">Roasts &amp; Carvery </h1>
                                                    <div class="case-study_header">
                                                        <p></p>
                                                    </div>
                                                    <div class="case-study_body">
                                                        <p style="font-weight: 400; text-align: center;">In this webinar Masterclass, we are focusing on the upcoming festive season so you can generate foot traffic into your venue and have success with Australian Red Meat on your menu.</p>
                                                        <p style="font-weight: 400; text-align: center;">&nbsp;</p>
                                                        <p style="font-weight: 400; text-align: center;">Partnering up with Kilcoy Global Foods &amp; Australian Meat Processor Corporation, we filmed this Masterclass in a brand new innovation centre, The Hub, on the Sunshine Coast in Queensland. We start by looking at the world's eating quality system, Meat Standards Australia, with Meat &amp; Livestock Australia's MSA End User Training Facilitator, Kelly Payne.</p>
                                                        <p style="font-weight: 400; text-align: center;">&nbsp;</p>
                                                        <p style="font-weight: 400; text-align: center;">Kelly says that 'the mantra at MSA is not to let the consumer down' so, for the last two decades, MSA has looked at the critical control points from farm production, processing, food service and retail, right through to the end consumer. This means that you get the right cut, right cook method and the right outcome every time.</p>
                                                        <p style="font-weight: 400; text-align: center;">&nbsp;</p>
                                                        <p style="font-weight: 400; text-align: center;">We're proud to have partnered up with Kilcoy Global Foods &amp; AMCP for this Masterclass.</p>
                                                        <p style="text-align: center;"><br><br></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div><div class="row clearfix">
                        <div class="block colouredbandblock percent-100 scrollTarget_02b7f1a4-db4f-4d35-929f-491127e12cb4">
                            <div class="columns block coloured-band twelve ">
                                <div class="container">
                                    <h2 class="heading-dots-white">Video</h2>
                                    <p>&nbsp;</p>
                                    <div>
                                        <div>
                                            <object data="https://www.youtube.com/embed/AkuQL4PWoDY?autoplay=1" width="100%" height="550px">
                                            </object>
                                        </div>
                                    </div>
                                    <p>&nbsp;</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="content" class="content">
                </div>
            </div>
        </div>
    </div>
</div>

