
@{
    ViewBag.Title = "Master Class";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="page-wrap">
    <div id="inner-wrap" class="inner-wrap menu-open">
        <div class="template template-home">
            <div class="row full-screen-menu" style="background-color:black">
                <div class="secondary-nav">
                    <ul>
                        <li>
                            <a data-parentpageid="127091" href="/en/producertoplate/" target="_self">
                                <span>Producer To Plate</span>
                            </a>
                        </li>
                        <li>
                            <a data-parentpageid="129449" href="/en/masterclass" target="_self">
                                <span>Masterclass</span>
                            </a>
                        </li>
                        <li>
                            <a data-parentpageid="130176" href="/en/protips" target="_self">
                                <span>PRO TIPS</span>
                            </a>
                        </li>
                        <li>
                            <a data-parentpageid="127159" href="/1/" target="_self">
                                <span>Recipes</span>
                            </a>
                        </li>
                        <li>
                            <a data-parentpageid="127368" href="/en/msa/" target="_self">
                                <span>MSA</span>
                            </a>
                        </li>
                        <li>
                            <a data-parentpageid="125443" href="/rare-medium/" target="_self">
                                <span>RARE MEDIUM</span>
                            </a>
                        </li>
                        <li>
                            <div class="social">
                                <span class="connected"></span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="columns block twelve hero display-two">
                <div class="hero-panel panel-one" style="background-image: url(/Content/images/MasterClass/low-slow.jpeg)">
                    <div class="pattern">
                        <div class="container">
                            <div class="inner">
                                <div class="title">
                                    <span></span>
                                    Low &amp; Slow
                                </div>
                                <a href="/en/masterclass/lowslow/" class="btn">LEARN MORE</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hero-panel panel-two" style="background-image: url(/Content/images/MasterClass/summer-lamb.jpeg)">
                    <div class="pattern">
                        <div class="container">
                            <div class="inner">
                                <div class="title">
                                    <span></span>
                                    Summer Lamb
                                </div>
                                <a href="/en/masterclass/summerlamb/" class="btn">LEARN MORE</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="columns block twelve hero display-two">
                <div class="hero-panel panel-one" style="background-image: url(/Content/images/MasterClass/food-that-travels.jpeg)">
                    <div class="pattern">
                        <div class="container">
                            <div class="inner">
                                <div class="title">
                                    <span></span>
                                    RED MEAT TAKEAWAY SOLUTIONS
                                </div>
                                <a href="/en/masterclass/travelsolutions/" class="btn">LEARN MORE</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hero-panel panel-two" style="background-image: url(/Content/images/MasterClass/mastering-wok-cooking.jpeg)">
                    <div class="pattern">
                        <div class="container">
                            <div class="inner">
                                <div class="title">
                                    <span></span>
                                    MASTERING WOK COOKING
                                </div>
                                <a href="/en/masterclass/mastering_wok_cooking/" class="btn">LEARN MORE</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="columns block twelve hero display-two">
                <div class="hero-panel panel-one" style="background-image: url(/Content/images/MasterClass/masterclass-curries.jpeg)">
                    <div class="pattern">
                        <div class="container">
                            <div class="inner">
                                <div class="title">
                                    <span></span>
                                    MASTERING CURRIES AND TAGINES
                                </div>
                                <a href="/en/masterclass/mastering_curries_tagines/" class="btn">LEARN MORE</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hero-panel panel-two" style="background-image: url(/Content/images/MasterClass/greatsteaks_hero.jpeg)">
                    <div class="pattern">
                        <div class="container">
                            <div class="inner">
                                <div class="title">
                                    <span></span>
                                    GREAT STEAKS
                                </div>
                                <a href="/summer-lamb/" class="btn">LEARN MORE</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="columns block twelve hero display-two">
                <div class="hero-panel panel-one" style="background-image: url(/Content/images/MasterClass/roastscarvery-banner.jpeg)">
                    <div class="pattern">
                        <div class="container">
                            <div class="inner">
                                <div class="title">
                                    <span></span>
                                    ROASTS &amp; CARVERY
                                </div>
                                <a href="/low-slow/" class="btn">LEARN MORE</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hero-panel panel-two" style="background-image: url(/Content/images/MasterClass/210427_mla0228.jpeg)">
                    <div class="pattern">
                        <div class="container">
                            <div class="inner">
                                <div class="title">
                                    <span></span>
                                    GRAB N GO
                                </div>
                                <a href="/summer-lamb/" class="btn">LEARN MORE</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div style="margin: 0px 0px 0px -15px;">
                <img src="~/Content/images/MasterClass/grilled-sirloin.jpeg" alt="Forest" style="width:102%;">
            </div>

            </div>
        </div>
    </div>


